@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --bg_primary: #4E45A1;
  --bg_secondary: #080619;
  --bg_ternary: #0C0921;
  --light: #CCEBF6;
  --imgBoxBg:#110D2B;
  --light_trans: rgba(229, 245, 250, 0.8);
  --shadow_01: rgba(0,0,0,.15);
  --text: #000000;
  --textD: #080619;
  --border: #C4C4C4;
  --white: #ffffff;
  --whiteD: #ffffff;
  --font_txt: "Poppins", sans-serif;
  --font_titles: "Playfair Display", serif;
}

/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
.container-custom {
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 1680px) {
  .container-custom {
    max-width: 1440px;
  }
}
@media (max-width: 1481px) {
  .container-custom {
    max-width: 1200px;
  }
}
@media (max-width: 1281px) {
  .container-custom {
    max-width: 1100px;
  }
}

body {
  background: var(--bg_secondary);
  color: var(--white);
  font-family: var(--font_txt);
  font-size: 18px;
}
@media (max-width: 1679px) {
  body {
    font-size: 16px;
  }
}
@media (max-width: 1441px) {
  body {
    font-size: 14px;
  }
}
@media (max-width: 1281px) {
  body {
    font-size: 13px;
  }
}

.page-wrap {
  background: var(--bg_secondary) url(../img/home-bg.jpg) fixed;
}
@media (max-width: 991px) {
  .page-wrap {
    padding-top: 80px;
  }
}

.title {
  font-family: var(--font_titles);
  font-size: 35px;
  line-height: 1.2;
}
@media (max-width: 1679px) {
  .title {
    font-size: 32px;
  }
}
@media (max-width: 1481px) {
  .title {
    font-size: 28px;
  }
}
@media (max-width: 1441px) {
  .title {
    font-size: 26px;
  }
}
@media (max-width: 1281px) {
  .title {
    font-size: 24px;
  }
}
@media (max-width: 1199px) {
  .title {
    font-size: 22px;
  }
}
@media (max-width: 991px) {
  .title {
    font-size: 20px;
  }
}

.subtitle {
  font-family: var(--font_txt);
  line-height: 1.76;
  font-weight: 300;
  font-size: 21px;
}
@media (max-width: 1679px) {
  .subtitle {
    font-size: 18px;
  }
}
@media (max-width: 1481px) {
  .subtitle {
    font-size: 16px;
  }
}
@media (max-width: 1281px) {
  .subtitle {
    font-size: 14px;
  }
}

.social {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.social li + li {
  margin-left: 13px;
}
.social .soc_link {
  display: flex;
  align-items: center;
}

.page-wrp {
  width: 100%;
}

.sec-title {
  font: normal normal 600 35px/42px var(--font_titles);
  margin-bottom: 30px;
}
@media (max-width: 1679px) {
  .sec-title {
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 25px;
  }
}
@media (max-width: 1481px) {
  .sec-title {
    font-size: 28px;
    line-height: 35px;
  }
}
@media (max-width: 1441px) {
  .sec-title {
    font-size: 26px;
    line-height: 33px;
  }
}
@media (max-width: 1281px) {
  .sec-title {
    font-size: 24px;
    line-height: 31px;
  }
}
@media (max-width: 1199px) {
  .sec-title {
    font-size: 22px;
    line-height: 29px;
  }
}
@media (max-width: 991px) {
  .sec-title {
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .sec-title {
    text-align: center;
  }
}

.desc-para {
  font: normal normal 300 21px/37px var(--font_txt);
}
@media (max-width: 1679px) {
  .desc-para {
    font-size: 18px;
    line-height: 32px;
  }
}
@media (max-width: 1481px) {
  .desc-para {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 1281px) {
  .desc-para {
    font-size: 14px;
    line-height: 22px;
  }
}
@media (max-width: 1199px) {
  .desc-para {
    font-size: 13px;
    line-height: 21px;
  }
}
@media (max-width: 767px) {
  .desc-para {
    text-align: center;
  }
}

.desc-listing li {
  font: normal normal 300 20px/34px var(--font_txt);
}
@media (max-width: 1679px) {
  .desc-listing li {
    font-size: 18px;
    line-height: 32px;
  }
}
@media (max-width: 1481px) {
  .desc-listing li {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 1281px) {
  .desc-listing li {
    font-size: 14px;
    line-height: 22px;
  }
}