@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --bg_primary: #4E45A1;
  --bg_secondary: #080619;
  --bg_ternary: #0C0921;
  --light: #CCEBF6;
  --imgBoxBg:#110D2B;
  --light_trans: rgba(229, 245, 250, 0.8);
  --shadow_01: rgba(0,0,0,.15);
  --text: #000000;
  --textD: #080619;
  --border: #C4C4C4;
  --white: #ffffff;
  --whiteD: #ffffff;
  --font_txt: "Poppins", sans-serif;
  --font_titles: "Playfair Display", serif;
}

/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
.footer {
  background-color: var(--bg_secondary);
  position: relative;
  overflow-x: clip;
}
.footer .bg-ico {
  position: absolute;
  top: 60px;
  right: -80px;
  max-width: 260px;
}
.footer .bg-ico img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 0.23;
}
.footer .footer-wrp {
  padding-top: 94px;
  padding-bottom: 94px;
}
.footer .footer-copy {
  padding-top: 32px;
  padding-bottom: 32px;
  border-top: 1px solid rgba(112, 112, 112, 0.2549019608);
  font-weight: 300;
}
.footer .footer-copy .policy-link {
  color: var(--white);
  text-decoration: none;
  position: relative;
}
.footer .footer-copy .policy-link::before {
  content: "";
  left: 0;
  right: 0;
  bottom: -5px;
  height: 1px;
  position: absolute;
  display: block;
  background-color: transparent;
  transform: translateY(-10px);
  transition: all ease-in-out 0.1s;
  transform: translateY(5px);
}
.footer .footer-copy .policy-link:hover::before {
  background-color: var(--white);
  transform: translateY(0);
}
.footer .footer-copy .social {
  justify-content: flex-end;
}
.footer .ftr-logo {
  max-width: 280px;
  display: flex;
}
.footer .ftr-logo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer .link-item {
  display: flex;
  color: var(--white);
  text-decoration: none;
  font-weight: 300 !important;
  font-size: 18px;
  align-items: center;
}
.footer .link-item .ico {
  margin-right: 15px;
}
.footer .logo-col {
  padding-bottom: 30px;
}
.footer .col-links {
  max-width: 20%;
}
.footer .col-links ul {
  list-style: none;
  padding-left: 0;
}
.footer .col-links ul li {
  margin-bottom: 32px;
}
.footer .col-links ul.sub-itm {
  margin-top: 32px;
  padding-left: 15px;
}
.footer .col-links ul.sub-itm li {
  display: flex;
  align-items: center;
}
.footer .col-links ul.sub-itm li:before {
  content: "";
  flex: 0 0 5px;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: var(--white);
  margin-right: 10px;
}