@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --bg_primary: #4E45A1;
  --bg_secondary: #080619;
  --bg_ternary: #0C0921;
  --light: #CCEBF6;
  --imgBoxBg:#110D2B;
  --light_trans: rgba(229, 245, 250, 0.8);
  --shadow_01: rgba(0,0,0,.15);
  --text: #000000;
  --textD: #080619;
  --border: #C4C4C4;
  --white: #ffffff;
  --whiteD: #ffffff;
  --font_txt: "Poppins", sans-serif;
  --font_titles: "Playfair Display", serif;
}

/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
.inner-banner.roadmap-banner {
  background-image: url("../img/roadamap-bnr-bg-1.jpg");
}
@media (min-width: 1700px) {
  .inner-banner.roadmap-banner {
    padding-top: 200px;
  }
}
.inner-banner.roadmap-banner .bnr-img-wrp img {
  bottom: auto;
  top: 0;
}
.inner-banner.roadmap-banner .bnr-content {
  padding-top: 80px;
  padding-bottom: 0;
}
.inner-banner.roadmap-banner .bnr-btn-block {
  padding-top: 70px;
}
.inner-banner.roadmap-banner .bnr-btn-block .nxt-map-btn {
  display: inline-flex;
  align-items: flex-start;
  font-size: 16px;
  font-weight: 200;
  color: #fff;
  text-decoration: none;
}
.inner-banner.roadmap-banner .bnr-btn-block .nxt-map-btn .btn-img-md {
  margin-right: 20px;
}
.inner-banner.roadmap-banner .bnr-btn-block .nxt-map-btn .btn-arw {
  margin-left: 15px;
  transition: 0.3s;
}
.inner-banner.roadmap-banner .bnr-btn-block .nxt-map-btn .item {
  display: inline-block;
  padding-top: 20px;
}
.inner-banner.roadmap-banner .bnr-btn-block .nxt-map-btn:hover .btn-arw {
  animation: rightToggle 1s infinite;
}

@keyframes rightToggle {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
.roadmap-tab-sec .roadmap-nav-tab {
  justify-content: space-between;
}
.roadmap-tab-sec .roadmap-nav-tab .nav-item {
  flex-grow: unset;
}
.roadmap-tab-sec .roadmap-nav-tab .nav-item .nav-link {
  text-wrap: nowrap;
  padding-left: 50px;
  padding-right: 50px;
}
.roadmap-tab-sec .rm-li-content-cover .rm-li-block {
  padding-top: 60px;
}
.roadmap-tab-sec .rm-li-content-cover ul.ul-left {
  padding-right: 10%;
}
.roadmap-tab-sec .rm-li-content-cover ul li {
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: 300;
  color: #fff;
}
.roadmap-tab-sec .rm-li-content-cover ul li::marker {
  font-size: 25px;
}
.roadmap-tab-sec .content-block-2col {
  padding-bottom: 150px;
  padding-top: 200px;
}
.roadmap-tab-sec .content-block-2col .sec-title {
  margin-bottom: 70px;
}
.roadmap-tab-sec .content-block-2col .content-2col-wrapper .li-title-item {
  margin-bottom: 17px;
  font-size: 21px;
}
.roadmap-tab-sec .content-block-2col .content-2col-wrapper .li-title-item img {
  margin-right: 20px;
}
.roadmap-tab-sec .content-block-2col.table-content {
  padding: 100px 0 130px;
}
@media (max-width: 1679px) {
  .roadmap-tab-sec .content-block-2col.table-content {
    padding: 60px 0;
  }
}
.roadmap-tab-sec .content-block-2col.table-content .sec-title {
  margin-bottom: 35px !important;
}
.roadmap-tab-sec .content-block-2col.table-content .txt-block .img-block {
  padding: 40px;
}
@media (max-width: 1679px) {
  .roadmap-tab-sec .content-block-2col.table-content .txt-block .img-block {
    padding: 30px;
  }
}
@media (max-width: 1481px) {
  .roadmap-tab-sec .content-block-2col.table-content .txt-block .img-block {
    padding: 25px;
  }
}
@media (max-width: 1281px) {
  .roadmap-tab-sec .content-block-2col.table-content .txt-block .img-block {
    padding: 20px;
  }
}
.roadmap-tab-sec .content-block-2col.table-content .txt-block .img-block .outer-img-wrp {
  border: 1px solid rgba(18, 61, 107, 0.1607843137);
  border-radius: 12px;
  padding: 45px 50px;
}
@media (max-width: 1679px) {
  .roadmap-tab-sec .content-block-2col.table-content .txt-block .img-block .outer-img-wrp {
    padding: 30px 40px;
  }
}
@media (max-width: 1481px) {
  .roadmap-tab-sec .content-block-2col.table-content .txt-block .img-block .outer-img-wrp {
    padding: 30px;
  }
}
@media (max-width: 1281px) {
  .roadmap-tab-sec .content-block-2col.table-content .txt-block .img-block .outer-img-wrp {
    padding: 25px;
  }
}
@media (max-width: 1199px) {
  .roadmap-tab-sec .content-block-2col.table-content .txt-block .img-block .outer-img-wrp {
    padding: 20px;
  }
}
.roadmap-tab-sec .content-block-2col.table-content .txt-block .img-block .outer-img-wrp img {
  max-height: unset;
}
.roadmap-tab-sec .block-col-right {
  padding-left: 10%;
}
.roadmap-tab-sec .block-col-left {
  padding-right: 10%;
}
.roadmap-tab-sec .content-block-fluid {
  background-color: #080619;
  padding: 100px 0;
}
.roadmap-tab-sec .content-block-fluid .p-block {
  padding: 0 10%;
}
.roadmap-tab-sec .content-block-fluid .p-block p {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.roadmap-tab-sec .txt-block .img-block {
  width: 100%;
  text-align: center;
  padding: 30px;
  border-radius: 20px;
  background-color: #fff;
  margin-bottom: 25px;
}
.roadmap-tab-sec .txt-block .img-block img {
  max-width: 100%;
}
.roadmap-tab-sec .txt-block p {
  margin-bottom: 25px;
  font-weight: 300;
  font-size: 21px;
}
.roadmap-tab-sec .img-content-block-fluid {
  background-color: #0C0921;
  padding: 100px 0 150px;
}
.roadmap-tab-sec .img-content-block-fluid .img-2-col-block {
  padding-top: 50px;
}
.roadmap-tab-sec .img-content-block-fluid .img-2-col-block .img-2-block {
  margin-bottom: 30px;
}
.roadmap-tab-sec .img-content-block-fluid .img-2-col-block .img-2-block img {
  width: 100%;
}

@media (max-width: 1679px) {
  .inner-banner.roadmap-banner .bnr-content {
    padding-top: 50px;
  }
  .roadmap-tab-sec .rm-li-content-cover ul li,
  .roadmap-tab-sec .content-block-2col .content-2col-wrapper .li-title-item,
  .roadmap-tab-sec .txt-block p {
    font-size: 18px;
  }
  .roadmap-tab-sec .content-block-2col {
    padding-bottom: 140px;
    padding-top: 100px;
  }
  .roadmap-tab-sec .txt-block .img-block-lg {
    max-width: 1000px;
    margin: 0 auto;
  }
  .roadmap-tab-sec .txt-block .img-block-lg img {
    max-height: 500px;
    width: auto;
    max-width: 100%;
  }
  .inner-banner.roadmap-banner .bnr-btn-block .nxt-map-btn .btn-img-md {
    max-width: 80px;
  }
}
@media (max-width: 1481px) {
  .roadmap-tab-sec .rm-li-content-cover ul li,
  .roadmap-tab-sec .content-block-2col .content-2col-wrapper .li-title-item, .roadmap-tab-sec .txt-block p {
    font-size: 16px;
  }
  .roadmap-tab-sec .content-block-2col {
    padding-bottom: 80px;
    padding-top: 75px;
  }
  .roadmap-tab-sec .txt-block .img-block-lg {
    max-width: 900px;
  }
  .roadmap-tab-sec .txt-block .img-block-lg img {
    max-height: 450px;
  }
  .roadmap-tab-sec .content-block-fluid {
    padding: 70px 0;
  }
  .roadmap-tab-sec .img-content-block-fluid {
    padding: 75px 0 90px;
  }
  .inner-banner.roadmap-banner .bnr-cont-wrp {
    margin-top: 60px;
  }
  .inner-banner.roadmap-banner .bnr-btn-block .nxt-map-btn .item {
    font-size: 15px;
  }
  .inner-banner.roadmap-banner .bnr-btn-block .nxt-map-btn .btn-arw {
    width: 45px;
  }
  .inner-banner.roadmap-banner .bnr-btn-block {
    padding-top: 45px;
  }
  .inner-banner.roadmap-banner .bnr-btn-block .nxt-map-btn .btn-img-md {
    max-width: 70px;
  }
  .roadmap-tab-sec .rm-li-content-cover .rm-li-block {
    padding-top: 30px;
  }
  .roadmap-tab-sec .content-block-2col .sec-title {
    margin-bottom: 50px;
  }
  .roadmap-tab-sec .img-content-block-fluid .img-2-col-block {
    padding-top: 35px;
  }
}
@media (max-width: 1199px) {
  .roadmap-tab-sec .img-content-block-fluid {
    padding: 65px 0 60px;
  }
  .roadmap-tab-sec .img-content-block-fluid .img-2-col-block {
    padding-top: 25px;
  }
  .inner-banner.roadmap-banner {
    background-size: cover;
  }
  .roadmap-tab-sec .rm-li-content-cover ul li,
  .roadmap-tab-sec .content-block-2col .content-2col-wrapper .li-title-item,
  .roadmap-tab-sec .txt-block p {
    font-size: 15px;
  }
  .roadmap-tab-sec .txt-block .img-block-lg {
    max-width: 800px;
  }
  .roadmap-tab-sec .txt-block .img-block-lg img {
    max-height: 400px;
  }
}
@media (max-width: 991px) {
  .inner-banner.roadmap-banner .bnr-img-wrp img {
    max-width: 100%;
  }
  .roadmap-tab-sec .page-wrap {
    padding-top: 0;
  }
  .inner-banner.roadmap-banner .bnr-btn-block .nxt-map-btn .item {
    font-size: 14px;
  }
  .inner-banner.roadmap-banner .bnr-btn-block .nxt-map-btn .btn-img-md {
    max-width: 60px;
  }
  .inner-banner.roadmap-banner .bnr-btn-block .nxt-map-btn .btn-arw {
    width: 35px;
  }
  .roadmap-tab-sec .rm-li-content-cover ul li,
  .roadmap-tab-sec .content-block-2col .content-2col-wrapper .li-title-item,
  .roadmap-tab-sec .txt-block p {
    font-size: 14px;
  }
  .roadmap-tab-sec .rm-li-content-cover ul li {
    margin-bottom: 20px;
  }
  .roadmap-tab-sec .content-block-2col {
    padding-bottom: 50px;
    padding-top: 45px;
  }
  .roadmap-tab-sec .img-content-block-fluid {
    padding: 45px 0;
  }
  .roadmap-tab-sec .content-block-fluid {
    padding: 50px 0;
  }
  .roadmap-tab-sec .block-col-left {
    padding-right: 10px;
  }
  .roadmap-tab-sec .block-col-right {
    padding-left: 10px;
  }
  .roadmap-tab-sec .rm-li-content-cover ul.ul-left {
    padding-right: 15px;
  }
}
@media (max-width: 767px) {
  .inner-banner.roadmap-banner .bnr-img-wrp img {
    max-width: 250px;
  }
  .inner-banner.roadmap-banner .bnr-img-wrp {
    align-items: flex-start;
    height: 270px;
    overflow: hidden;
  }
  .inner-banner.roadmap-banner .bnr-content {
    padding-top: 15px;
  }
  .inner-banner.roadmap-banner .bnr-btn-block {
    padding-top: 25px;
  }
  .roadmap-tab-sec .rm-li-content-cover .rm-li-block {
    padding-top: 10px;
  }
  .roadmap-tab-sec .tabbed-wrap .tab-pane .inner-sec.sec-top {
    padding: 128px 0 30px;
  }
  .roadmap-tab-sec .content-block-2col .sec-title {
    margin-bottom: 30px;
  }
  .roadmap-tab-sec .block-col-right {
    padding-left: 0;
  }
  .roadmap-tab-sec .content-block-2col {
    padding: 30px 0;
  }
  .roadmap-tab-sec .txt-block .img-block img {
    max-height: 250px;
  }
  .roadmap-tab-sec .content-block-fluid {
    padding: 30px 0;
  }
  .roadmap-tab-sec .img-content-block-fluid {
    padding: 30px 0;
  }
  .roadmap-tab-sec .img-content-block-fluid .img-2-col-block .img-2-block img {
    width: auto;
    max-width: 100%;
    max-height: 300px;
  }
  .roadmap-tab-sec .txt-block p {
    margin-bottom: 10px;
  }
  .roadmap-tab-sec .block-col-left {
    padding-right: 0;
  }
  .roadmap-banner .bnr-txt-col {
    order: 2;
  }
  .roadmap-banner .bnr-img-col {
    order: 1;
  }
}
@media (max-width: 579px) {
  .roadmap-tab-sec .txt-block .img-block {
    padding: 15px;
  }
  .roadmap-tab-sec .txt-block .img-block img {
    max-height: 230px;
  }
  .roadmap-tab-sec .img-content-block-fluid .img-2-col-block .img-2-block img {
    max-height: 280px;
  }
  .roadmap-tab-sec .img-content-block-fluid .img-2-col-block .img-2-block {
    margin-bottom: 15px;
  }
}
.roadmap-tab-sec .life-time-row {
  display: flex;
}
.roadmap-tab-sec .life-time-row .img-block-col {
  flex: 0 0 auto;
}
.roadmap-tab-sec .life-time-row .img-block {
  text-align: center;
  padding: 30px;
  border-radius: 21px;
  background-color: #fff;
  width: 522px;
}
.roadmap-tab-sec .life-time-row .img-block img {
  max-width: 100%;
}
.roadmap-tab-sec .life-time-row .txt-block {
  flex: 1 1 auto;
  padding-left: 72px;
  padding-top: 15px;
}
.roadmap-tab-sec .life-time-row .txt-block .title {
  margin-bottom: 10px;
}
.roadmap-tab-sec .life-time-row .txt-block .title-2 {
  font-family: var(--font_titles);
  font-size: 27px;
  margin-bottom: 25px;
}
.roadmap-tab-sec .life-time-row .txt-block .desc-para {
  margin-bottom: 15px;
}
.roadmap-tab-sec .roadmap-2-cover .str-hgl {
  font-weight: 500;
}
.roadmap-tab-sec .roadmap-2-cover .img-content-block-fluid {
  background-color: #0C0921;
}
.roadmap-tab-sec .roadmap-2-cover .img-content-block-fluid .img-col-block {
  margin-bottom: 30px;
}
.roadmap-tab-sec .roadmap-2-cover .img-content-block-fluid .img-2-col-block .img-2-block {
  padding: 30px;
  border-radius: 21px;
  background-color: #fff;
  margin-bottom: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.roadmap-tab-sec .roadmap-2-cover .img-content-block-fluid .img-2-col-block .img-2-block img {
  width: auto;
  max-width: 100%;
}
.roadmap-tab-sec .roadmap-2-cover .inner-sec.sec-top {
  padding-bottom: 200px !important;
}
@media (max-width: 1679px) {
  .roadmap-tab-sec .roadmap-2-cover .inner-sec.sec-top {
    padding-bottom: 120px !important;
  }
}
@media (max-width: 1481px) {
  .roadmap-tab-sec .roadmap-2-cover .inner-sec.sec-top {
    padding-bottom: 90px !important;
  }
}
@media (max-width: 1199px) {
  .roadmap-tab-sec .roadmap-2-cover .inner-sec.sec-top {
    padding-bottom: 70px !important;
  }
}
@media (max-width: 991px) {
  .roadmap-tab-sec .roadmap-2-cover .inner-sec.sec-top {
    padding-bottom: 50px !important;
  }
}
@media (max-width: 991px) {
  .roadmap-tab-sec .roadmap-2-cover .inner-sec.sec-top {
    padding-bottom: 30px !important;
  }
}
.roadmap-tab-sec .roadmap-3-cover .inner-sec.sec-top {
  background: #0C0921 !important;
}
.roadmap-tab-sec .roadmap-index-slider .item {
  display: flex !important;
  justify-content: center;
}
.roadmap-tab-sec .roadmap-index-slider .item .img-block {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
  border-radius: 21px;
  background-color: #fff;
  margin-bottom: 0;
  height: 100%;
}
@media (max-width: 1679px) {
  .roadmap-tab-sec .roadmap-index-slider .item .img-block {
    max-width: 1000px;
  }
}
.roadmap-tab-sec .roadmap-index-slider .item .img-block img {
  max-height: 80vh;
  width: auto;
  max-width: 100%;
}
@media (max-width: 1481px) {
  .roadmap-tab-sec .roadmap-index-slider .item .img-block img {
    max-height: 70vh;
  }
}
@media (max-width: 767px) {
  .roadmap-tab-sec .roadmap-index-slider .item .img-block img {
    max-height: none;
  }
}
.roadmap-tab-sec .roadmap-slider-cover .title {
  margin-bottom: 40px;
}
@media (max-width: 1679px) {
  .roadmap-tab-sec .roadmap-slider-cover .title {
    margin-bottom: 30px;
  }
}
.roadmap-tab-sec .roadmap-slider-cover .slider-btn-cover {
  padding: 0 20px;
}
@media (max-width: 579px) {
  .roadmap-tab-sec .roadmap-slider-cover .slider-btn-cover {
    padding: 0;
  }
}
.roadmap-tab-sec .roadmap-slider-cover .slider-btn-block {
  padding-top: 45px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1679px) {
  .roadmap-tab-sec .roadmap-slider-cover .slider-btn-block {
    margin: 0 auto;
    max-width: 800px;
    padding-top: 30px;
  }
}
@media (max-width: 1481px) {
  .roadmap-tab-sec .roadmap-slider-cover .slider-btn-block {
    padding-top: 15px;
  }
}
.roadmap-tab-sec .roadmap-slider-cover .slider-btn-block .rd-btn {
  display: inline-flex;
  align-items: center;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 100;
  color: #fff;
  background-color: transparent;
  border: none;
  box-shadow: none;
}
@media (max-width: 1679px) {
  .roadmap-tab-sec .roadmap-slider-cover .slider-btn-block .rd-btn {
    font-size: 15px;
  }
}
@media (max-width: 579px) {
  .roadmap-tab-sec .roadmap-slider-cover .slider-btn-block .rd-btn {
    font-size: 14px;
  }
}
.roadmap-tab-sec .roadmap-slider-cover .slider-btn-block .rd-btn img {
  width: 60px;
}
@media (max-width: 1679px) {
  .roadmap-tab-sec .roadmap-slider-cover .slider-btn-block .rd-btn img {
    width: 45px;
  }
}
@media (max-width: 1481px) {
  .roadmap-tab-sec .roadmap-slider-cover .slider-btn-block .rd-btn img {
    width: 35px;
  }
}
@media (max-width: 1199px) {
  .roadmap-tab-sec .roadmap-slider-cover .slider-btn-block .rd-btn img {
    width: 28px;
  }
}
.roadmap-tab-sec .roadmap-slider-cover .slider-btn-block .rd-btn.rd-btn-left img {
  margin-right: 15px;
  transform: scaleX(-1);
}
@media (max-width: 767px) {
  .roadmap-tab-sec .roadmap-slider-cover .slider-btn-block .rd-btn.rd-btn-left img {
    margin-right: 5px;
  }
}
.roadmap-tab-sec .roadmap-slider-cover .slider-btn-block .rd-btn.rd-btn-right img {
  margin-left: 15px;
}
@media (max-width: 767px) {
  .roadmap-tab-sec .roadmap-slider-cover .slider-btn-block .rd-btn.rd-btn-right img {
    margin-left: 5px;
  }
}
@media (max-width: 1679px) {
  .roadmap-tab-sec .tabbed-wrap .tab-pane .roadmap-3-cover .inner-sec.sec-top {
    padding-top: 130px;
    padding-bottom: 60px;
  }
}
@media (max-width: 767px) {
  .roadmap-tab-sec .tabbed-wrap .tab-pane .roadmap-3-cover .inner-sec.sec-top {
    padding-top: 80px !important;
  }
}

@media (max-width: 1679px) {
  .roadmap-tab-sec .life-time-row .txt-block .title-2 {
    font-size: 23px;
    margin-bottom: 20px;
  }
  .roadmap-tab-sec .roadmap-2-cover .img-content-block-fluid .img-2-col-block .img-2-block img {
    max-height: 350px;
  }
  .roadmap-tab-sec .img-content-block-fluid {
    padding: 70px 0 100px;
  }
}
@media (max-width: 1481px) {
  .roadmap-tab-sec .life-time-row .img-block {
    width: 450px;
  }
  .roadmap-tab-sec .life-time-row .img-block img {
    max-height: 300px;
  }
  .roadmap-tab-sec .roadmap-2-cover .img-content-block-fluid .img-2-col-block .img-2-block img {
    max-height: 300px;
  }
  .roadmap-tab-sec .img-content-block-fluid {
    padding: 60px 0 70px;
  }
  .roadmap-tab-sec .life-time-row .txt-block .title-2 {
    font-size: 21px;
  }
}
@media (max-width: 1199px) {
  .roadmap-tab-sec .life-time-row .txt-block {
    padding-left: 45px;
  }
  .roadmap-tab-sec .life-time-row .img-block img {
    max-height: 280px;
  }
  .roadmap-tab-sec .life-time-row .img-block {
    width: 430px;
  }
  .roadmap-tab-sec .life-time-row .txt-block .title-2 {
    font-size: 18px;
  }
}
@media (max-width: 991px) {
  .roadmap-tab-sec .life-time-row {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .roadmap-tab-sec .life-time-row .img-block {
    margin: 0 auto;
    align-items: center;
    width: 350px;
    max-width: 100%;
  }
  .roadmap-tab-sec .life-time-row .img-block img {
    max-height: 260px;
  }
  .roadmap-tab-sec .life-time-row .img-block-col {
    max-width: 100%;
  }
  .roadmap-tab-sec .life-time-row .txt-block {
    padding-left: 0;
    padding-top: 40px;
    max-width: 700px;
  }
  .roadmap-tab-sec .img-content-block-fluid {
    padding: 50px 0;
  }
  .roadmap-tab-sec .roadmap-2-cover .img-content-block-fluid .img-2-col-block .img-2-block img {
    max-height: 260px;
  }
  .roadmap-tab-sec .tabbed-wrap .tab-pane .inner-sec.star-blk {
    padding: 50px 0;
  }
}
@media (max-width: 767px) {
  .roadmap-tab-sec .tabbed-wrap .tab-nav-wrp {
    padding-top: 0;
  }
  .roadmap-tab-sec .life-time-row .txt-block {
    max-width: 550px;
  }
  .roadmap-tab-sec .life-time-row .txt-block .desc-para {
    text-align: left;
  }
  .roadmap-tab-sec .roadmap-2-cover .img-content-block-fluid .img-2-col-block .img-2-block {
    margin: 0 auto;
    max-width: 450px;
  }
  .roadmap-tab-sec .life-time-row .img-block img {
    max-height: 200px;
  }
  .roadmap-tab-sec .roadmap-2-cover .img-content-block-fluid .img-2-col-block .img-2-block img {
    max-height: 220px;
  }
}
@media (max-width: 579px) {
  .roadmap-tab-sec .roadmap-2-cover .img-content-block-fluid .img-2-col-block .img-2-block {
    max-width: 400px;
  }
  .roadmap-tab-sec .roadmap-2-cover .img-content-block-fluid .img-2-col-block .img-2-block img {
    max-height: 220px;
  }
  .roadmap-tab-sec .roadmap-2-cover .img-content-block-fluid .img-2-col-block .img-2-block {
    padding: 15px;
  }
  .roadmap-tab-sec .img-content-block-fluid {
    padding: 35px 0;
  }
  .roadmap-tab-sec .tabbed-wrap .tab-pane .inner-sec.star-blk {
    padding: 30px 0;
  }
}
.pagination-btn-block {
  padding-top: 0px;
  display: flex;
}
@media (max-width: 1679px) {
  .pagination-btn-block {
    max-width: 1000px;
    margin: 0 auto;
  }
}
@media (max-width: 1481px) {
  .pagination-btn-block {
    max-width: 900px;
    margin: 0 auto;
  }
}
@media (max-width: 1199px) {
  .pagination-btn-block {
    max-width: 800px;
    margin: 0 auto;
  }
}
.pagination-btn-block .nxt-map-btn {
  display: inline-flex;
  align-items: flex-start;
  font-size: 16px;
  font-weight: 200;
  color: #fff;
  text-decoration: none;
  flex: 0 0 auto;
  font-family: var(--font_txt);
}
.pagination-btn-block .nxt-map-btn.prev {
  margin-right: auto;
}
.pagination-btn-block .nxt-map-btn.prev img {
  transform: rotate(180deg);
  margin-right: 15px;
  margin-left: 0px;
}
.pagination-btn-block .nxt-map-btn.prev:hover .btn-arw {
  animation: leftToggle 1s infinite;
}
.pagination-btn-block .nxt-map-btn .btn-img-md {
  margin-right: 20px;
}
.pagination-btn-block .nxt-map-btn .btn-arw {
  margin-left: 15px;
  transition: 0.3s;
}
@media (max-width: 1481px) {
  .pagination-btn-block .nxt-map-btn .btn-arw {
    width: 45px;
  }
}
@media (max-width: 991px) {
  .pagination-btn-block .nxt-map-btn .btn-arw {
    width: 35px;
  }
}
.pagination-btn-block .nxt-map-btn .item {
  display: inline-block;
  padding-top: 20px;
}
@media (max-width: 1481px) {
  .pagination-btn-block .nxt-map-btn .item {
    font-size: 15px;
  }
}
@media (max-width: 991px) {
  .pagination-btn-block .nxt-map-btn .item {
    font-size: 14px;
  }
}
.pagination-btn-block .nxt-map-btn:hover .btn-arw {
  animation: rightToggle 1s infinite;
}

@keyframes leftToggle {
  0% {
    transform: rotate(180deg) translateX(0);
  }
  50% {
    transform: rotate(180deg) translateX(10px);
  }
  100% {
    transform: rotate(180deg) translateX(0);
  }
}