@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --bg_primary: #4E45A1;
  --bg_secondary: #080619;
  --bg_ternary: #0C0921;
  --light: #CCEBF6;
  --imgBoxBg:#110D2B;
  --light_trans: rgba(229, 245, 250, 0.8);
  --shadow_01: rgba(0,0,0,.15);
  --text: #000000;
  --textD: #080619;
  --border: #C4C4C4;
  --white: #ffffff;
  --whiteD: #ffffff;
  --font_txt: 'Poppins', sans-serif;
  --font_titles: 'Playfair Display', serif; }

/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
.inner-banner.roadmap-banner {
  background-image: url("../img/roadamap-bnr-bg-1.jpg"); }
  @media (min-width: 1700px) {
    .inner-banner.roadmap-banner {
      padding-top: 200px; } }
  .inner-banner.roadmap-banner .bnr-img-wrp img {
    bottom: auto;
    top: 0; }
  .inner-banner.roadmap-banner .bnr-content {
    padding-top: 80px;
    padding-bottom: 0; }
  .inner-banner.roadmap-banner .bnr-btn-block {
    padding-top: 70px; }
    .inner-banner.roadmap-banner .bnr-btn-block .nxt-map-btn {
      display: inline-flex;
      align-items: flex-start;
      font-size: 16px;
      font-weight: 200;
      color: #fff;
      text-decoration: none; }
      .inner-banner.roadmap-banner .bnr-btn-block .nxt-map-btn .btn-img-md {
        margin-right: 20px; }
      .inner-banner.roadmap-banner .bnr-btn-block .nxt-map-btn .btn-arw {
        margin-left: 15px;
        transition: .3s; }
      .inner-banner.roadmap-banner .bnr-btn-block .nxt-map-btn .item {
        display: inline-block;
        padding-top: 20px; }
      .inner-banner.roadmap-banner .bnr-btn-block .nxt-map-btn:hover .btn-arw {
        animation: rightToggle 1s infinite; }

@keyframes rightToggle {
  0% {
    transform: translateX(0); }
  50% {
    transform: translateX(10px); }
  100% {
    transform: translateX(0); } }
.roadmap-tab-sec .roadmap-nav-tab {
  justify-content: space-between; }
  .roadmap-tab-sec .roadmap-nav-tab .nav-item {
    flex-grow: unset; }
    .roadmap-tab-sec .roadmap-nav-tab .nav-item .nav-link {
      text-wrap: nowrap;
      padding-left: 50px;
      padding-right: 50px; }
.roadmap-tab-sec .rm-li-content-cover .rm-li-block {
  padding-top: 60px; }
.roadmap-tab-sec .rm-li-content-cover ul.ul-left {
  padding-right: 10%; }
.roadmap-tab-sec .rm-li-content-cover ul li {
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: 300;
  color: #fff; }
  .roadmap-tab-sec .rm-li-content-cover ul li::marker {
    font-size: 25px; }
.roadmap-tab-sec .content-block-2col {
  padding-bottom: 150px;
  padding-top: 200px; }
  .roadmap-tab-sec .content-block-2col .sec-title {
    margin-bottom: 70px; }
  .roadmap-tab-sec .content-block-2col .content-2col-wrapper .li-title-item {
    margin-bottom: 17px;
    font-size: 21px; }
    .roadmap-tab-sec .content-block-2col .content-2col-wrapper .li-title-item img {
      margin-right: 20px; }
.roadmap-tab-sec .block-col-right {
  padding-left: 10%; }
.roadmap-tab-sec .block-col-left {
  padding-right: 10%; }
.roadmap-tab-sec .content-block-fluid {
  background-color: #080619;
  padding: 100px 0; }
  .roadmap-tab-sec .content-block-fluid .p-block {
    padding: 0 10%; }
    .roadmap-tab-sec .content-block-fluid .p-block p {
      max-width: 800px;
      margin-left: auto;
      margin-right: auto; }
.roadmap-tab-sec .txt-block .img-block {
  width: 100%;
  text-align: center;
  padding: 30px;
  border-radius: 20px;
  background-color: #fff;
  margin-bottom: 25px; }
  .roadmap-tab-sec .txt-block .img-block img {
    max-width: 100%; }
.roadmap-tab-sec .txt-block p {
  margin-bottom: 25px;
  font-weight: 300;
  font-size: 21px; }
.roadmap-tab-sec .img-content-block-fluid {
  background-color: #0C0921;
  padding: 100px 0 150px; }
  .roadmap-tab-sec .img-content-block-fluid .img-2-col-block {
    padding-top: 50px; }
    .roadmap-tab-sec .img-content-block-fluid .img-2-col-block .img-2-block {
      margin-bottom: 30px; }
      .roadmap-tab-sec .img-content-block-fluid .img-2-col-block .img-2-block img {
        width: 100%; }

@media (max-width: 1679px) {
  .inner-banner.roadmap-banner .bnr-content {
    padding-top: 50px; }

  .roadmap-tab-sec .rm-li-content-cover ul li,
  .roadmap-tab-sec .content-block-2col .content-2col-wrapper .li-title-item,
  .roadmap-tab-sec .txt-block p {
    font-size: 18px; }

  .roadmap-tab-sec .content-block-2col {
    padding-bottom: 140px;
    padding-top: 100px; }

  .roadmap-tab-sec .txt-block .img-block-lg {
    max-width: 1000px;
    margin: 0 auto; }
    .roadmap-tab-sec .txt-block .img-block-lg img {
      max-height: 500px;
      width: auto;
      max-width: 100%; }

  .inner-banner.roadmap-banner .bnr-btn-block .nxt-map-btn .btn-img-md {
    max-width: 80px; } }
@media (max-width: 1481px) {
  .roadmap-tab-sec .rm-li-content-cover ul li,
  .roadmap-tab-sec .content-block-2col .content-2col-wrapper .li-title-item, .roadmap-tab-sec .txt-block p {
    font-size: 16px; }

  .roadmap-tab-sec .content-block-2col {
    padding-bottom: 80px;
    padding-top: 75px; }

  .roadmap-tab-sec .txt-block .img-block-lg {
    max-width: 900px; }

  .roadmap-tab-sec .txt-block .img-block-lg img {
    max-height: 450px; }

  .roadmap-tab-sec .content-block-fluid {
    padding: 70px 0; }

  .roadmap-tab-sec .img-content-block-fluid {
    padding: 75px 0 90px; }

  .inner-banner.roadmap-banner .bnr-cont-wrp {
    margin-top: 60px; }

  .inner-banner.roadmap-banner .bnr-btn-block .nxt-map-btn .item {
    font-size: 15px; }

  .inner-banner.roadmap-banner .bnr-btn-block .nxt-map-btn .btn-arw {
    width: 45px; }

  .inner-banner.roadmap-banner .bnr-btn-block {
    padding-top: 45px; }

  .inner-banner.roadmap-banner .bnr-btn-block .nxt-map-btn .btn-img-md {
    max-width: 70px; }

  .roadmap-tab-sec .rm-li-content-cover .rm-li-block {
    padding-top: 30px; }

  .roadmap-tab-sec .content-block-2col .sec-title {
    margin-bottom: 50px; }

  .roadmap-tab-sec .img-content-block-fluid .img-2-col-block {
    padding-top: 35px; } }
@media (max-width: 1199px) {
  .roadmap-tab-sec .img-content-block-fluid {
    padding: 65px 0 60px; }

  .roadmap-tab-sec .img-content-block-fluid .img-2-col-block {
    padding-top: 25px; }

  .inner-banner.roadmap-banner {
    background-size: cover; }

  .roadmap-tab-sec .rm-li-content-cover ul li,
  .roadmap-tab-sec .content-block-2col .content-2col-wrapper .li-title-item,
  .roadmap-tab-sec .txt-block p {
    font-size: 15px; }

  .roadmap-tab-sec .txt-block .img-block-lg {
    max-width: 800px; }
    .roadmap-tab-sec .txt-block .img-block-lg img {
      max-height: 400px; } }
@media (max-width: 991px) {
  .inner-banner.roadmap-banner .bnr-img-wrp img {
    max-width: 100%; }

  .roadmap-tab-sec .page-wrap {
    padding-top: 0; }

  .inner-banner.roadmap-banner .bnr-btn-block .nxt-map-btn .item {
    font-size: 14px; }

  .inner-banner.roadmap-banner .bnr-btn-block .nxt-map-btn .btn-img-md {
    max-width: 60px; }

  .inner-banner.roadmap-banner .bnr-btn-block .nxt-map-btn .btn-arw {
    width: 35px; }

  .roadmap-tab-sec .rm-li-content-cover ul li,
  .roadmap-tab-sec .content-block-2col .content-2col-wrapper .li-title-item,
  .roadmap-tab-sec .txt-block p {
    font-size: 14px; }

  .roadmap-tab-sec .rm-li-content-cover ul li {
    margin-bottom: 20px; }

  .roadmap-tab-sec .content-block-2col {
    padding-bottom: 50px;
    padding-top: 45px; }

  .roadmap-tab-sec .img-content-block-fluid {
    padding: 45px 0; }

  .roadmap-tab-sec .content-block-fluid {
    padding: 50px 0; }

  .roadmap-tab-sec .block-col-left {
    padding-right: 10px; }

  .roadmap-tab-sec .block-col-right {
    padding-left: 10px; }

  .roadmap-tab-sec .rm-li-content-cover ul.ul-left {
    padding-right: 15px; } }
@media (max-width: 767px) {
  .inner-banner.roadmap-banner .bnr-img-wrp img {
    max-width: 250px; }
  .inner-banner.roadmap-banner .bnr-img-wrp {
    align-items: flex-start;
    height: 270px;
    overflow: hidden; }

  .inner-banner.roadmap-banner .bnr-content {
    padding-top: 15px; }

  .inner-banner.roadmap-banner .bnr-btn-block {
    padding-top: 25px; }

  .roadmap-tab-sec .rm-li-content-cover .rm-li-block {
    padding-top: 10px; }

  .roadmap-tab-sec .tabbed-wrap .tab-pane .inner-sec.sec-top {
    padding: 128px 0 30px; }

  .roadmap-tab-sec .content-block-2col .sec-title {
    margin-bottom: 30px; }

  .roadmap-tab-sec .block-col-right {
    padding-left: 0; }

  .roadmap-tab-sec .content-block-2col {
    padding: 30px 0; }

  .roadmap-tab-sec .txt-block .img-block img {
    max-height: 250px; }

  .roadmap-tab-sec .content-block-fluid {
    padding: 30px 0; }

  .roadmap-tab-sec .img-content-block-fluid {
    padding: 30px 0; }

  .roadmap-tab-sec .img-content-block-fluid .img-2-col-block .img-2-block img {
    width: auto;
    max-width: 100%;
    max-height: 300px; }

  .roadmap-tab-sec .txt-block p {
    margin-bottom: 10px; }

  .roadmap-tab-sec .block-col-left {
    padding-right: 0; }

  .roadmap-banner .bnr-txt-col {
    order: 2; }
  .roadmap-banner .bnr-img-col {
    order: 1; } }
@media (max-width: 579px) {
  .roadmap-tab-sec .txt-block .img-block {
    padding: 15px; }

  .roadmap-tab-sec .txt-block .img-block img {
    max-height: 230px; }

  .roadmap-tab-sec .img-content-block-fluid .img-2-col-block .img-2-block img {
    max-height: 280px; }

  .roadmap-tab-sec .img-content-block-fluid .img-2-col-block .img-2-block {
    margin-bottom: 15px; } }

/*# sourceMappingURL=rodamap.css.map */
