@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --bg_primary: #4E45A1;
  --bg_secondary: #080619;
  --bg_ternary: #0C0921;
  --light: #CCEBF6;
  --imgBoxBg:#110D2B;
  --light_trans: rgba(229, 245, 250, 0.8);
  --shadow_01: rgba(0,0,0,.15);
  --text: #000000;
  --textD: #080619;
  --border: #C4C4C4;
  --white: #ffffff;
  --whiteD: #ffffff;
  --font_txt: "Poppins", sans-serif;
  --font_titles: "Playfair Display", serif;
}

/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
.tabbed-wrap {
  background-color: var(--bg_ternary);
}
@media (max-width: 767px) {
  .tabbed-wrap {
    padding-top: 40px;
  }
}
.tabbed-wrap .tab-select {
  background-color: transparent;
  color: var(--white);
  border-color: rgba(127, 125, 139, 0.2392156863);
  font-size: 13px;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: none !important;
}
.tabbed-wrap .tab-select option {
  background-color: var(--bg_secondary);
}
.tabbed-wrap .tab-select option:hover, .tabbed-wrap .tab-select option:active, .tabbed-wrap .tab-select option:checked {
  background-color: var(--bg_ternary) !important;
}
.tabbed-wrap .tab-nav-wrp {
  border-bottom: 1px solid rgba(127, 125, 139, 0.2392156863);
  position: absolute;
  z-index: 2;
  width: 100%;
}
@media (max-width: 991px) {
  .tabbed-wrap .tab-nav-wrp {
    border-bottom-color: transparent !important;
    padding-top: 20px;
  }
}
@media (min-width: 1200px) {
  .tabbed-wrap .tab-nav-wrp .container-custom {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.tabbed-wrap .nav-tabs {
  border-bottom: none !important;
}
.tabbed-wrap .nav-link {
  color: var(--white) !important;
  border-color: transparent !important;
  font-size: 16px;
  font-weight: 300;
  padding-top: 2em;
  padding-bottom: 2em;
}
@media (max-width: 1679px) {
  .tabbed-wrap .nav-link {
    font-size: 14px;
  }
}
@media (max-width: 1441px) {
  .tabbed-wrap .nav-link {
    font-size: 13px;
  }
}
@media (max-width: 1199px) {
  .tabbed-wrap .nav-link {
    font-size: 12px;
  }
}
.tabbed-wrap .nav-link.nav-link {
  background-color: transparent;
  position: relative;
}
.tabbed-wrap .nav-link.nav-link:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: transparent;
  border-radius: 4px;
  transition: all ease-in-out 0.2s;
  width: 53px;
  left: 50%;
  transform: translateX(-50%);
}
.tabbed-wrap .nav-link.nav-link.active:after {
  background-color: var(--bg_primary);
}
.tabbed-wrap .tab-pane .inner-sec.sec-top {
  background: url("../img/tab-guide-main-bg.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  padding: 298px 0 220px;
}
@media (max-width: 1679px) {
  .tabbed-wrap .tab-pane .inner-sec.sec-top {
    padding: 150px 0 70px;
  }
}
@media (max-width: 1481px) {
  .tabbed-wrap .tab-pane .inner-sec.sec-top {
    padding: 168px 0 90px;
  }
}
@media (max-width: 1199px) {
  .tabbed-wrap .tab-pane .inner-sec.sec-top {
    padding: 148px 0 70px;
  }
}
@media (max-width: 991px) {
  .tabbed-wrap .tab-pane .inner-sec.sec-top {
    padding: 128px 0 50px;
  }
}
.tabbed-wrap .tab-pane .inner-sec.illustration {
  background-color: #080619;
  padding: 150px 0 230px;
}
@media (max-width: 1679px) {
  .tabbed-wrap .tab-pane .inner-sec.illustration {
    padding: 120px 0;
  }
}
@media (max-width: 1481px) {
  .tabbed-wrap .tab-pane .inner-sec.illustration {
    padding: 90px 0;
  }
}
@media (max-width: 1199px) {
  .tabbed-wrap .tab-pane .inner-sec.illustration {
    padding: 70px 0;
  }
}
@media (max-width: 767px) {
  .tabbed-wrap .tab-pane .inner-sec.illustration {
    padding: 60px 0 40px;
  }
}
.tabbed-wrap .tab-pane .inner-sec.star-blk {
  background: url("../img/star-blk-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  padding: 183px 0 218px;
}
@media (max-width: 1679px) {
  .tabbed-wrap .tab-pane .inner-sec.star-blk {
    padding: 120px 0;
  }
}
@media (max-width: 1481px) {
  .tabbed-wrap .tab-pane .inner-sec.star-blk {
    padding: 90px 0;
  }
}
@media (max-width: 1199px) {
  .tabbed-wrap .tab-pane .inner-sec.star-blk {
    padding: 70px 0;
  }
}
@media (max-width: 767px) {
  .tabbed-wrap .tab-pane .inner-sec.star-blk {
    padding: 50px 0 0;
  }
}
.tabbed-wrap .tab-pane .inner-sec.star-blk .desc-para {
  margin-bottom: 44px;
}
@media (max-width: 1679px) {
  .tabbed-wrap .tab-pane .inner-sec.star-blk .desc-para {
    margin-bottom: 30px;
  }
}
@media (max-width: 1481px) {
  .tabbed-wrap .tab-pane .inner-sec.star-blk .desc-para {
    margin-bottom: 25px;
  }
}
@media (max-width: 1281px) {
  .tabbed-wrap .tab-pane .inner-sec.star-blk .desc-para {
    margin-bottom: 20px;
  }
}
.tabbed-wrap .tab-pane .inner-sec.star-blk .star-img-rt {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 1679px) {
  .tabbed-wrap .tab-pane .inner-sec.star-blk .star-img-rt {
    transform: translateX(105px);
  }
}
@media (max-width: 1399px) {
  .tabbed-wrap .tab-pane .inner-sec.star-blk .star-img-rt {
    transform: none !important;
  }
}
@media (max-width: 767px) {
  .tabbed-wrap .tab-pane .inner-sec.star-blk .star-img-rt {
    justify-content: center;
  }
}
.tabbed-wrap .tab-pane .inner-sec.star-blk .star-img-rt img {
  max-width: 450px;
  position: absolute;
  right: 0px;
  top: 20%;
}
@media (max-width: 1481px) {
  .tabbed-wrap .tab-pane .inner-sec.star-blk .star-img-rt img {
    top: unset;
    max-width: 370px;
  }
}
@media (max-width: 1281px) {
  .tabbed-wrap .tab-pane .inner-sec.star-blk .star-img-rt img {
    max-width: 300px;
  }
}
@media (max-width: 991px) {
  .tabbed-wrap .tab-pane .inner-sec.star-blk .star-img-rt img {
    max-width: 360px;
  }
}
@media (max-width: 767px) {
  .tabbed-wrap .tab-pane .inner-sec.star-blk .star-img-rt img {
    position: unset;
    max-width: 200px;
  }
}
.tabbed-wrap .tab-pane .inner-sec .content-wrp {
  max-width: 775px;
  margin: 0 auto;
}
@media (max-width: 1679px) {
  .tabbed-wrap .tab-pane .inner-sec .content-wrp {
    max-width: 665px;
  }
}
@media (max-width: 1481px) {
  .tabbed-wrap .tab-pane .inner-sec .content-wrp {
    max-width: 590px;
  }
}
@media (max-width: 1281px) {
  .tabbed-wrap .tab-pane .inner-sec .content-wrp {
    max-width: 518px;
  }
}
@media (max-width: 1199px) {
  .tabbed-wrap .tab-pane .inner-sec .content-wrp {
    max-width: 480px;
  }
}
.tabbed-wrap .tab-pane .inner-sec .content-wrp .title {
  margin-bottom: 44px;
}
.tabbed-wrap .tab-pane .inner-sec .content-wrp .desc-para {
  margin-bottom: 30px;
}
@media (max-width: 1679px) {
  .tabbed-wrap .tab-pane .inner-sec .content-wrp .desc-para {
    margin-bottom: 25px;
  }
}
@media (max-width: 1481px) {
  .tabbed-wrap .tab-pane .inner-sec .content-wrp .desc-para {
    margin-bottom: 20px;
  }
}
.tabbed-wrap .tab-pane .inner-sec .desc-para.info-note {
  font: normal normal 300 16px/27px var(--font_txt);
}
@media (max-width: 1679px) {
  .tabbed-wrap .tab-pane .inner-sec .desc-para.info-note {
    font-size: 14px;
    line-height: 24px;
  }
}
.tabbed-wrap .tab-pane .inner-sec .prview-wrp {
  display: flex;
  margin-top: 66px;
  flex-wrap: wrap;
  width: 100%;
}
@media (max-width: 1679px) {
  .tabbed-wrap .tab-pane .inner-sec .prview-wrp {
    margin-top: 40px;
  }
}
@media (max-width: 767px) {
  .tabbed-wrap .tab-pane .inner-sec .prview-wrp {
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
  }
}
.tabbed-wrap .tab-pane .inner-sec .prview-wrp .preview-col {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  flex: 0 0 auto;
  width: calc(50% - 40px);
}
@media (max-width: 1679px) {
  .tabbed-wrap .tab-pane .inner-sec .prview-wrp .preview-col {
    width: calc(50% - 30px);
    margin: 0 15px;
  }
}
@media (max-width: 1481px) {
  .tabbed-wrap .tab-pane .inner-sec .prview-wrp .preview-col {
    width: calc(50% - 20px);
    margin: 0 10px;
  }
}
@media (max-width: 767px) {
  .tabbed-wrap .tab-pane .inner-sec .prview-wrp .preview-col {
    width: 50%;
    margin: 0 0 30px;
  }
}
@media (max-width: 579px) {
  .tabbed-wrap .tab-pane .inner-sec .prview-wrp .preview-col {
    width: 80%;
    margin: 0 0 30px;
  }
}
.tabbed-wrap .tab-pane .inner-sec .prview-wrp .preview-col .prev-title {
  font: normal normal 600 25px/33px var(----font_titles);
  text-align: center;
  margin-bottom: 33px;
}
@media (max-width: 1679px) {
  .tabbed-wrap .tab-pane .inner-sec .prview-wrp .preview-col .prev-title {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 32px;
  }
}
@media (max-width: 1281px) {
  .tabbed-wrap .tab-pane .inner-sec .prview-wrp .preview-col .prev-title {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 28px;
  }
}
@media (max-width: 1199px) {
  .tabbed-wrap .tab-pane .inner-sec .prview-wrp .preview-col .prev-title {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 22px;
  }
}
@media (max-width: 1199px) {
  .tabbed-wrap .tab-pane .inner-sec .prview-wrp .preview-col .prev-title {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 22px;
  }
}
@media (max-width: 767px) {
  .tabbed-wrap .tab-pane .inner-sec .prview-wrp .preview-col .prev-title {
    font-size: 14px;
    line-height: 20px;
  }
}
.tabbed-wrap .tab-pane .inner-sec .prview-wrp .preview-col .prev-wrp {
  background-color: var(--white);
  border: 1px solid #707070;
  border-radius: 21px;
  padding: 30px;
}
.tabbed-wrap .tab-pane .inner-sec .prview-wrp .preview-col .prev-wrp img {
  max-width: 100%;
}
.tabbed-wrap.guide-tab .nav-item {
  flex-basis: auto;
}
.tabbed-wrap.guide-tab .nav-link.nav-link {
  padding-left: 0px;
  padding-right: 0px;
  width: auto;
}