:root{
    --bg_primary: #4E45A1;
    --bg_secondary: #080619;
    --bg_ternary: #0C0921;
    --light: #CCEBF6;
    --imgBoxBg:#110D2B;

    // transparent colors
    --light_trans: rgba(229, 245, 250, 0.8);
    --shadow_01: rgba(0,0,0,.15);
    
    --text: #000000;
    --textD: #080619; // does not flip in dark mode
    --border: #C4C4C4;

    --white: #ffffff;
    --whiteD: #ffffff; // for dark mode flip

    // fonts
    --font_txt: 'Poppins', sans-serif;
    --font_titles:  'Playfair Display', serif;
}

 