@import 'partials';

.common{
    &.author{
        &.about-us{
        //   background-image: url(../img/about-us-bg.png);
        //   background-repeat: no-repeat;
        padding-top: 200px;
        background-color: transparent;
        @media($sm-1441){
            padding-top: 150px;
        }
        @media($sm-1281){
            padding-top: 100px;
        }
        @media($sm-991){
            padding-top: 50px;
        }

          position: relative;
          &::after{
            content: "";
            width: 292px;
            height: 667px;
            background: url(../img/starbg.png) no-repeat center;
            background-size: contain;
            position: absolute;
            right: -7px;
            @media($sm-1679){
                width: 200px;
                right: -44px;
            }

          }
            .inner-wrap{
                justify-content: space-between;
                @media($sm-767){
                    flex-direction: column;;
                }
            }
            .inner-content {
                padding-left: 33px;
                justify-content: center;
                padding-right: 61px;
                .desc-para{
                    margin-bottom: 40px;
                }
                @media($sm-1679){
                    padding-right: 112px;
                }
                @media($sm-1441){
                    padding-right: 109px;
                }
                @media($sm-1281){
                    padding-right: 62px;
                }
                @media($sm-767){
                    padding: 0px;
                }
                .mail-add{
                    color: #788AFF;
                }
            }
            .inner-img-wrp{
                position: relative;
                padding-right: 60px;
                padding-left: 43px;
                @media($sm-1679){
                    max-width: 100%;
                    padding-left: 0;
                    margin-left: 0px;
                }
                @media($sm-767){
                    padding: 0px;
                    margin: 0px;
                    width: 70%;
                    margin-top: 50px;
                    margin-left: auto;
                    margin-right: auto;
                }
                img{
                    // width: 100%;
                }
            
                &::after{
                    background: url(../img/jewish-guide-bg.png);
                    background-size: contain;
                    top: -211px;
                    background-repeat: no-repeat;
                    left: -256px;
                     @media($sm-1679){
                        top: -184px;
                 
                        left: -295px;
                     }
                     @media($sm-1441){
                        top: -155px;
                        left: -251px;
                    }
                     
                
                    // right: -100%;
                }
            }
            .social-links{
                display: flex;
                @media($sm-767){
                    justify-content: center;
                }
                .contents{
                    padding-left: 13px;
                }
                .first-sec{
                    display: flex;
                    padding-right:86px;
                    align-items: center;
                    @media($sm-1281){
                        padding-right: 40px;
                    }

                    @media($sm-767){
                        padding-right: 30px;
                    }
                    .text1{
                        font-size: 12px;
                        font-weight: 300;
                    }
                    .bold-content{
                        font-size: 18px;
                        @media($sm-1281){
                            font-size: 14px;
                        }
                        @media($sm-767){
                            font-size: 12px;
                        }
                    }
                    .fb-img{
                        width: 48px;
                        height: 48px;
                        @media($sm-767){
                            width: 34px;
                            height: 34px;
                        }
                        img{
                            width: 100%;
                            height:100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    } 
}

.about-details{
    background-color:var(--bg_ternary);
    padding: 100px 0px;
    .about-inner{
        .image-sec{
            margin: 0 auto;
            width: 1263px;
            padding-bottom: 50px;
            img{
                max-width: 100%;
            }
        }
        .description{
            width: 60%;
            margin: 0 auto;
            text-align: center;
            @media($sm-1281){
                width: 80%;
            }
            @media($sm-767){
                width: 100%;
            }
        }
    }
}