@import 'partials';

.common{
    display: flex;
    align-items: center;
        &.author{
            background: var(--bg_ternary);
            overflow-x: clip;
            .inner-wrap{
                @media ($sm-767){
                    flex-direction: column-reverse;
                }
            }
            .bg-wrp{
                bottom: -5px;
                left: 10px;
                img{
                    display: none;
                }
            }
            .inner-img-wrp{
                &::after{
                    content: "";
                    width: 100%;
                    height: 100%;
                    background: url(../img/author-bg.png) no-repeat center;
                    background-size: contain;
                    position: absolute;
                }
                img{
                    position: relative;
                    z-index: 1;
                }
                @media ($sm-1679){
                    max-width: 50%;
                    margin-left: 70px;
                }
                @media ($sm-991){
                    max-width: 65%;
                    margin-left: 45px;
                }
                @media ($sm-767){
                    max-width: 50%;
                    margin: 0 auto;
                }
            }
            .inner-content{
                padding-left: 154px;
                justify-content: center;
                @media ($sm-1679){
                    padding-left: 180px;
                }
                @media ($sm-1199){
                    padding-left: 100px;
                }
                @media ($sm-991){
                    padding-left: 40px;
                }
                @media ($sm-767){
                    padding-left: 0px;
                    padding-top: 40px;
                }
            }
        }
        &.guide{
            background:rgba(8, 6, 25, 0.3);
            .bg-wrp{
                top:-10%;
                // display:none
                width: 100%;
                height: 100%;
                @media ($sm-767){
                    left: 0px;
                }
            }
            .inner-wrap{
                @media (min-width:1600px){
                transform: translateX(-9%);
                }
            }
            .guide-aligner{
                position: relative;
                @media ($sm-1679){
                    max-width: 80%;
                    margin-left: auto;
                }

                @media ($sm-767){
                    max-width: 80%;
                    margin: 0 auto 15px;
                }
            }
            .inner-img-wrp{
                position: relative;
                max-width: 100%;
                margin: 0px;
                img{
                    position: relative;
                    z-index: 1;
                    // padding: 45px;
                    // @media ($sm-767){
                    //     padding: 15px;
                    // }
                }
                // &::after{ 
                //     content: "";
                //     width: 100%;
                //     height: 100%;
                //     background: url(../img/jewish-guide-bg.png) no-repeat center;
                //     background-size: 100%;
                //     position: absolute;
                // }

            }
            .inner-content{
                .desc-listing{
                    margin-bottom: 75px;
                    @media ($sm-1679){
                        margin-bottom: 40px;
                    }
                    @media ($sm-767){
                        margin-bottom: 25px;
                    }
                }
            }
            .sec-title{
                margin-top: 30px;
                @media ($sm-1679){
                    margin-bottom: 10px;
                }
                @media ($sm-767){
                    margin-top: 0px;
                }
            }
            @media ($sm-767){
                padding: 40px 0;
            }
        }
        &.roadmaps{
            background: rgba(12, 9, 33, 0.5);
            @media ($sm-767){
                padding: 40px 0 40px;
            }
            .inner-wrap{
                @media ($sm-767){
                    flex-direction: column-reverse;
                }
            }
            .sec-title{
                @media ($sm-1679){
                    margin-bottom: 10px;
                }
            }
            .floating{
                @media ($sm-767){
                    margin-bottom: 30px;
                }
                .bg-wrp{
                    left: 14%;
                    img{
                        max-width: 50%;
                        @media ($sm-767){
                            max-width: 50%;
                        }
                    }
                    @media ($sm-767){
                        position: unset;
                        margin-left: 45px;
                    }
                }
                .inner-img-wrp{
                    &:not(.bg-wrp){
                        img{
                            position: absolute;
                            top: 28%;
                            left: 33%;
                            max-width: 55%;
                            @media ($sm-1679){
                                top: 33%;
                                left: 34%;
                            }
                            @media ($sm-1199){
                                top: 30%;
                            }
                            @media ($sm-991){
                                top: 24%;
                            }
                            @media (max-width:850px){
                                top: 20%;
                            }
                            @media ($sm-767){
                                max-width: 45%;
                                left: 35%;
                                top: 36%;
                            }
                        }
                    }
                }
            }
        }
        &.chart-reading{
            background: rgba(8, 6, 25, 0.8);
            @media ($sm-767){
                padding: 40px 0;
            }
            .inner-content{
                padding-left: 42px;
                @media ($sm-767){
                   padding-left: 0px;
                }
                .sec-title{
                    margin-bottom: 15px;
                }
                .desc-para{
                    @media ($sm-579){
                    padding: 0 30px;
                    margin-top: 10px;
                    }
                }
            }
        }
        padding: 100px 0 100px;
        @media ($sm-1679){
            padding: 70px 0 70px;
        }
        @media ($sm-1481){
            padding: 65px 0 65px;
        }
        @media ($sm-1199){
            padding: 60px 0 60px;
        }
        @media ($sm-991){
            padding: 50px 0 50px;
        }
        .inner-wrap{
            display: flex;
            background-size: contain;
        }
        .inner-content{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            height: 100%;
            .desc-para{
                margin-bottom:55px;
                @media ($sm-1679){
                    margin-bottom: 40px;
                }
                @media ($sm-1481){
                    margin-bottom: 35px;
                }
                @media ($sm-1281){
                    margin-bottom: 30px;
                }
                @media ($sm-1199){
                    margin-bottom: 25px;
                }
            }
            .desc-listing{
                margin-bottom: 49px;
                @media ($sm-1679){
                    margin-bottom: 40px;
                }
                li{
                    margin-top: 27px;
                    padding-left: 26px;
                    @media ($sm-1679){
                        margin-top: 20px;
                        padding-left: 20px;
                    }
                    @media ($sm-1481){
                        padding-left: 15px;
                    }
                    @media ($sm-1199){
                        margin-top: 15px;
                        padding-left: 10px;
                    }
                }
            }
        }
        .bg-wrp{
            position: absolute;
            right: 0px;
            left: -30px;
            img{
                max-width: 100%;
            }
        }
        .inner-img-wrp{
            display: flex;
            align-items: center;
            justify-content: center;
            @media ($sm-767){
                max-width: 80%;
                margin: 0 auto 30px;

            }
            .border-box{
                border-radius: 44px;
                padding: 25px;
                background: var(--imgBoxBg);
            }
            img{
                max-width: 100%;
                position: relative;
            }
        }
}