@import 'partials';
.btn{
    padding: 13px 23px;
    border-radius: 26px;
    width: 206px;
    position: relative;
    overflow: hidden;
    @media ($sm-991){
        width: 180px;
    }
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        background: #120A43;
        transition: .5s;
        z-index: 1;
        border-radius: 26px;
    }
    &:hover{
        &::before{
            left: 0px;
        }
    }
    &.btn-primary{
        padding: 13px 23px;
        background-color: var(--bg_primary);
        border-color: var(--bg_primary);
        justify-content: flex-start;
        display: flex;
        font: normal normal medium 19px/29px Poppins;
        @media ($sm-1679){
            padding: 12px 20px;
            font-size: 18px;
            line-height: 28px;
        }
        @media ($sm-1481){
            font-size: 15px;
            line-height: 25px;
        }
        @media ($sm-991){
            padding: 10px 20px;
        }
        span{
            display: flex;
            align-items: center;
            flex: 1;
            position: relative;
            z-index: 2;
            &::after{
                content: "";
                background: url(../img/arrow-icon.svg) no-repeat center;
                background-size: contain;
                display: inline-block;
                width: 36px;
                height: 18px;
                margin-left: auto;
                @media ($sm-991){
                    width: 25px;
                }
            }
        }
    }
}