@import 'partials';

.container-custom{
    padding-left: 20px;
    padding-right: 20px;
    @media ($lg-1680 ){
        max-width: 1440px;
    }
    @media ($sm-1481 ){
        max-width: 1200px;  
    }
    @media ($sm-1281 ){
         max-width: 1100px; 
    }
}

body{
    background: var(--bg_secondary);
    color: var(--white);
    font-family: var(--font_txt);
    font-size: 18px;
    @media ($sm-1679 ){
        font-size: 16px;
    }
    @media ($sm-1441 ){
        font-size: 14px;
    }
    @media ($sm-1281 ){
        font-size: 13px;
    }
}
.page-wrap{
    background: var(--bg_secondary) url(../img/home-bg.jpg) fixed;
    @media ($sm-991){
        padding-top: 80px;
    }
}

.title{
    font-family: var(--font_titles);
    font-size: 35px;
    line-height: 1.2;
    @media ($sm-1679){
        font-size: 32px;
    }
    @media ($sm-1481){
        font-size: 28px;
    }
    @media ($sm-1441){
        font-size: 26px;
    }
    @media ($sm-1281){
        font-size: 24px;
    }
    @media ($sm-1199){
        font-size: 22px;
    }
    @media ($sm-991){
        font-size: 20px;
        line-height: 26px;
    }
}
.subtitle{
    font-family: var(--font_txt);
    line-height: 1.76;
    font-weight: 300;
    font-size: 21px;
    @media ($sm-1679){
        font-size: 18px;
    }
    @media ($sm-1481){
        font-size: 16px;
    }
    @media ($sm-1281){
        font-size: 14px;
    }
    &.pull-quote{
        font-style: italic;
    }
}

.social{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    li + li {
        margin-left: 13px;
    }
    .soc_link{
        display: flex;
        align-items: center;
    }
}

.page-wrp{
    width: 100%;
}

.sec-title{
    font: normal normal 600 35px/42px var(--font_titles);
    margin-bottom: 30px;
    @media ($sm-1679){
        font-size: 32px;
        line-height: 39px;
        margin-bottom: 25px;
    }
    @media ($sm-1481){
        font-size: 28px;
        line-height: 35px;
    }
    @media ($sm-1441){
        font-size: 26px;
        line-height: 33px;
    }
    @media ($sm-1281){
        font-size: 24px;
        line-height: 31px;
    }
    @media ($sm-1199){
        font-size: 22px;
        line-height: 29px;
    }
    @media ($sm-991){
        font-size: 20px;
        line-height: 27px;
        margin-bottom: 20px;
    }
    @media ($sm-767){
        text-align: center;
    }
}
.desc-para{
    font: normal normal 300 21px/37px var( --font_txt );
    @media ($sm-1679){
        font-size: 18px;
        line-height: 32px;
    }
    @media ($sm-1481){
        font-size: 16px;
        line-height: 24px;
    }
    @media ($sm-1281){
        font-size: 14px;
        line-height: 22px;
    }
    @media ($sm-1199){
        font-size: 13px;
        line-height: 21px;
    }
    @media ($sm-767){
        text-align: center;
    }
}
.desc-listing{
    li{
        font: normal normal 300 20px/34px var(--font_txt);
        @media ($sm-1679){
            font-size: 18px;
            line-height: 32px;
        }
        @media ($sm-1481){
            font-size: 16px;
            line-height: 24px;
        }
        @media ($sm-1281){
            font-size: 14px;
            line-height: 22px;
        }

        br{
            @media($sm-579){
                display: none;
            }  
        }
    }
}

.readmore-tip{
    position: relative; 
    cursor: pointer;
    color: var(--white);
    .tooltiptext{
        visibility: hidden;
        width: 100vw;
        background-color: var(--tooltipBg);
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        position: absolute;
        z-index: 2;
        left: 0;
        right: 0;
        bottom: -40px;
        padding: 10px;
        font-size: 16px;
        line-height: 1.2;
        max-width: 800px;
        box-shadow: 0px 0px 10px #0000007c;
        font-weight: 300;
        @media ($sm-1679){
            font-size: 14px;
        }
        @media ($sm-1281){
            font-size: 12px;
        }
        &:after{
            content: " ";
            position: absolute;
            bottom: 50px;
            right: 100%; /* To the left of the tooltip */
            margin-top: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent var(--tooltipBg) transparent transparent;
        }
         
    }
    &:hover{
        .tooltiptext{
            visibility: visible;
            z-index: 9999;
        }
        
    }
}
