@import 'partials';

.footer{
    
    position: relative;
    overflow-x: clip;
    .bg-ico{
        position: absolute;
        top: 60px;
        right: -80px;
        max-width: 260px;
        opacity: 0.23;
        mix-blend-mode: luminosity;
        background-blend-mode: luminosity;
        img{
            width: 100%;
            object-fit: contain;
            
        }
    }
    .footer-wrp{
        background-color: var(--bg_secondary);
        padding-top: 180px;
        padding-bottom: 94px;
        @media ($sm-1679 ){
            padding-top: 154px;
            padding-bottom: 94px;
        }
        @media ($sm-1481 ){
            padding-top: 130px;
            padding-bottom: 80px;
        }
        @media ($sm-1281 ){
            padding-top: 120px;
            padding-bottom: 32px;
        }
        @media ($sm-991 ){
            padding-top: 110px;
            padding-bottom: 10px;
        }
        .col-txt{
            flex: 1;
            padding-bottom: 30px;
            @media ($sm-991){
                flex: 0 0 100%;
            }
             
        }
        p{
            font-weight: 300;
            font-size: 18px;
            @media ($sm-1679 ){
                font-size: 16px;
            }
            @media ($sm-1441 ){
                font-size: 14px;
            }
            @media ($sm-1281 ){
                font-size: 13px;
            }
        }
        .footer-txt{
            margin-bottom: 4em;
            max-width: 28em;
            line-height: 2;
            @media ($sm-1199 ){
                max-width: 100%;
                margin-bottom: 40px;
            }
        }
        .footer-cont-link{
            color: #ffffff;
            text-decoration: none;
            .ico{
                margin-right: 1em;
                width: 1em;
                object-fit: contain;
            }
        }
    }
    
    .footer-copy{
        padding-top: 1.77em;
        padding-bottom: 1.77em;
        border-top: 1px solid #70707041;
        font-weight: 300;
        .policy-link{ 
            color: var(--white);
            text-decoration: none;
            position: relative;
            &::before{
                content: '';
                left: 0;
                right: 0;
                bottom: -5px;
                height: 1px;
                position: absolute;
                display: block;
                background-color: transparent;
                transform: translateY(-10px);
                transition: all ease-in-out 0.1s;
                transform: translateY(5px);

            }
            &:hover{
                &::before{
                    background-color: var(--white);
                    transform: translateY(0);
                }
            }
        }
        .copyrights{
            @media ($sm-767){
                text-align: center;
                padding-bottom: 10px;
                .links{
                    display: block;
                }
            }
        }
        .social{
            justify-content: flex-end;
            @media ($sm-767){
                justify-content: center;
            }
        }
    }

    .ftr-logo{
        max-width: 280px;
        display: flex;
        @media ($sm-1481){
            max-width: 240px;
        }
        @media ($sm-1281){
            max-width: 200px;
        }
        img{
            width: 100%;
            object-fit: cover;
            max-height: 60px;
        }
    }

    .link-item{
        display: flex;
        color: var(--white);
        text-decoration: none;
        font-weight: 300 !important;
        align-items: center;
        font-size: 18px;
        
        @media ($sm-1679 ){
            font-size: 16px;
        }
        @media ($sm-1441 ){
            font-size: 14px;
        }
        @media ($sm-1281 ){
            font-size: 13px;
        }
        .ico{
            margin-right: 15px;
        }
    }
    .logo-col{
        padding-bottom: 30px;
    }

    .menu-list{
        .link-item{
            position: relative;
        }
        .sub-itms{
            position: absolute !important;
            z-index: 2;
            background-color: var(--bg_secondary);
            left: 0;
            right: 0;
            padding: 15px;
            position: absolute !important;
            z-index: 2;
            background-color: var(--bg_secondary);
        }
    }

    .col-links{
        .link-item{
            position: relative;
        }
        .sub-itms{
            left: 0;
            right: 0;
            padding: 10px;
            position: absolute !important;
            z-index: 2;
            background-color: var(--bg_secondary);
        }
        @media screen and ($sm-1199){
            max-width: 30%;
        }
        @media screen and ($sm-991){
            max-width: 100%;
        }
        @media screen and ($lg-1200){
            max-width: 23%;
        }
        // @media screen and ($lg-1200){
        //     flex: 1 0 330px;
        //     width: 330px;
        //     max-width: 330px;
        //     min-height: 240px;
        // } 
        
        // #kosher-sub{
            
        //     @media (min-width: 1300px){
        //         position: absolute;
        //         top: 100%;
        //     }
        // }
        &.kosher-sub,
        &.chart-reading-sub{ 
            // @media screen and ($lg-1200){
            //     max-width: 16%;
            // }
            // @media screen and ($lg-1200){
            //     flex: 1 0 300px;
            //     width: 300px;
            //     max-width: 300px;
            //     min-height: 240px;
            // } 
        }
        & > ul{
            li{
                position: relative;
            }
            
        }
        ul{
            list-style: none;
            padding-left: 0;
            li{
                margin-bottom: 1.7em;
            }
            &.sub-itm{
                margin-top: 20px;
                padding-left: 15px;
                li{
                    display: flex;
                    align-items: center;
                    margin-bottom: 16px;
                    .link-item{
                        font-size: 13px;
                        letter-spacing: -0.5px;
                        
                    }
                    &:last-child{
                        margin-bottom: 0 !important;
                    }
                    &:before{
                        content: '';
                        flex: 0 0 5px;
                        width: 5px;
                        height: 5px;
                        border-radius: 5px;
                        background-color: var(--white);
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}