@import 'partials';
.part-list{
    // padding-top: 200px;
    // background: url(../img/tab-guide-main-bg.png);
    // background-repeat: no-repeat;
    // background-position: bottom;
    // background-size: 100%;

    .title{
        margin-bottom: 20px;
        @media($sm-767){
            text-align: center;

        }

        br{
            @media($sm-767){
                display: none;
    
            }
        }
    }
    .left-sec{
        padding-right:60px;
        @media($sm-1679){
            padding-right: 50px;
        }

        @media($sm-767){
            padding-right: 20px;
        }
        .desc-para{
            max-width: 25.476em;
        }
    }
    .right-sec{
            
        ul{
            padding-inline-start: 0;
            padding-left: 0px !important;
            @media($sm-991){
                margin-top: 20px;
            }
            li{
                font: normal normal 300 20px / 37px var(--font_txt) !important;
                color: #DEDEDE;
                margin-bottom: 0px !important;
                @media ($sm-1679){
                    font-size: 18px !important;
                    line-height: 32px !important;
                }
                @media ($sm-1481){
                    font-size: 16px !important;
                    line-height: 24px !important;
                }
                @media ($sm-1281){
                    font-size: 14px !important;
                    line-height: 22px !important;
                }
                @media ($sm-1199){
                    font-size: 13px !important;
                    line-height: 21px !important;
                }
                @media ($sm-767){
                    margin-bottom: 10px !important;
                    // text-align: center;
                }
                list-style-type: none;
                display: flex;
              span{
                &.ico{
                    padding-right: 12px;
                }
              }
            }
        }
    }
    .desc-para{
      color:#DEDEDE;
    }
  
}
.image-inner{
   
    .prview-wrp{
        // margin-top: 0 !important;
        align-items: center;
        justify-content: space-between;
        &.scndwrap{
            margin-top: 0px !important;
        }
        .preview-col .prev-title{
            font-size: 25px !important;
            @media ($sm-1679){
                margin-bottom: 20px;
                font-size: 20px !important;;
                line-height: 32px;
            }
            @media ($sm-1281){
                margin-bottom: 20px;
                font-size: 18px !important;;
                line-height: 28px;
            }
            @media ($sm-1199){
                margin-bottom: 20px;
                font-size: 16px !important;;
                line-height: 22px;
            }
            @media ($sm-1199){
                margin-bottom: 20px;
                font-size: 16px !important;;
                line-height: 22px;
            }
            @media ($sm-767){
                font-size: 14px !important;;
                line-height: 20px;
            }
        }
        .title{
            padding-right: 111px;
            @media($sm-1199){
                padding-right: 44px;
            }
            @media($sm-767){
                padding-right: 0;
            }
        }
        &.scnd-sec{
            .title{
                padding-right: 111px;
                @media($sm-767){
                    padding-right: 0;
                }
            }
            .desc-para{
                padding-right: 60px;
                padding-top: 30px;
                @media($sm-767){
                    padding-right: 0px; 
                    padding-bottom: 15px;
                    padding-top: 20px;
                    text-align: left;
                }
            }
        }

    }

    .top-list{
        margin-top: 39px;
        @media($sm-767){
            margin-top: 23px;
        }
        ul{
            padding-inline-start: 10px;
            li{
                display: flex;
                list-style: none;
                font: normal normal 300 21px / 37px var(--font_txt);
                color: #DEDEDE;
                @media ($sm-1679){
                    font-size: 18px;
                    line-height: 32px;
                }
                @media ($sm-1481){
                    font-size: 16px;
                    line-height: 24px;
                }
                @media ($sm-1281){
                    font-size: 14px;
                    line-height: 22px;
                }
                @media ($sm-1199){
                    font-size: 13px;
                    line-height: 21px;
                }
                @media ($sm-767){
                    // text-align: center;
                }
                span{
                    &.ico{
                        padding-right: 16px;
                    }
                }
            }
        }
    }
    .bottom-list{
        ul{

            li{
                font: normal normal 300 21px / 37px var(--font_txt);
                color: #DEDEDE;
                @media ($sm-1679){
                    font-size: 18px;
                    line-height: 32px;
                }
                @media ($sm-1481){
                    font-size: 16px;
                    line-height: 24px;
                }
                @media ($sm-1281){
                    font-size: 14px;
                    line-height: 22px;
                }
                @media ($sm-1199){
                    font-size: 13px;
                    line-height: 21px;
                }
                @media ($sm-767){
                    margin-bottom: 20px;
                }
                margin-bottom: 33px;
            }
        }
    }
}

.inner-sec{
    &.planets{
        background-color: #0C0921;
        padding: 100px 0 100px;
      
        @media ($sm-1679){
            padding: 90px 0;
        }
        @media ($sm-1199){
            padding: 70px 0;
        }
        @media ($sm-767){
            padding: 0px 0 40px;
            // text-align: center;
        }
    }
    .scnd-sec{
        margin-top: 0px !important;
    }
    }


  .tabbed-wrap{
    .scnd-tabs{
        &.tab-pane{

            // @media (max-width: 767px)
            // {
            //      padding: 128px 0 30px;
            // }
            .inner-sec.illustration{
                padding: 100px 0px;
                
        @media ($sm-1679){
            padding: 90px 0;
        }
        @media ($sm-1199){
            padding: 70px 0;
        }
        @media ($sm-767){
            padding: 0px 0 40px;
        }
                
            }
        }

    } 
  }


