@import 'partials';

.homepage-slider{
    
    .container{
        position: relative;
        & > * {
            position: relative;
            z-index: 1;
        }
    }
    .slider-bg{
        position: absolute;
        z-index: 0;
        inset: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: left;
        mix-blend-mode: lighten;
        background-blend-mode: lighten;
        @media ($lg-768){
            left: -50%;
        }
        .video{
            width: 100%;
            height: 100%;
            object-fit: contain; 
            opacity: 0.16; 
        }
    }
    .img-col{
        .slide-img{
            max-width: 582px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            @media ($sm-1679){
                max-width: 480px;
            }
            @media ($sm-1481){
                max-width: 28vw;
            }
             
            @media ($sm-991){
                max-width: 260px;
            }
        }
    }

    .txt-col{
        .title{
            font-size: 45px;
            line-height: 1.7;
            @media ($sm-1679){
                font-size: 40px;
            }
            @media ($sm-1481){
                font-size: 32px;
            }
            @media ($sm-1281){
                font-size: 28px;
            }
            @media ($sm-1199){
                font-size: 24px;
            }
            @media ($sm-991){
                font-size: 22px;
            }
            @media ($sm-767){
                text-align: center;
            }
        }
        .desc{
            font-size: 21px;
            line-height: 1.76;
            max-width: 33em;
            font-weight: 300;
            @media ($sm-1679){
                font-size: 18px;
            }
            @media ($sm-1481){
                font-size: 16px;
            }
            @media ($sm-1281){
                font-size: 14px;
            }
            @media ($sm-767){
                text-align: center;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    .slide{
        padding-top: 80px;
        padding-bottom: 80px;
        @media ($sm-1679){
            padding-top: 60px;
            padding-bottom: 60px; 
        }
        @media ($sm-1481){
            padding-top: 40px;
            padding-bottom: 40px; 
        }
        @media ($sm-1281){
            padding-top: 30px;
            padding-bottom: 30px;  
        }

        a.btn{
            @media ($sm-767){
                margin-left: auto;
                margin-right: auto;
            }
        }
         
    }
    .slide-count{
        background-color: #120A43;
        color: #8E82F9;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        margin-left: 10px;
        margin-right: 10px;
        @media ($sm-1679 ){
            width: 40px;
            height: 40px;
        }
         
        @media ($sm-1281 ){
            width: 30px;
            height: 30px;   
        }
         
    }
    .slides-arrow{
        position: absolute;
        right: 0;
        left: 0;
        color: #ffffff;
        max-width: 1440px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        transform: translateX(-50%);
        left: 50%;
        @media ($sm-767 ){
            display: none;
        }
        .slidebtn{
            border: none !important;
            width: unset !important;
            background-color: transparent;
            max-width: 44px;
            @media ($sm-1679 ){
                max-width: 40px;
            }
             
            @media ($sm-1281 ){
                max-width: 32px;   
            }
            img{
                width: 100%;
                object-fit: contain;
            }
            &.btn-prev{
                img{
                    transform: rotateZ(180deg);
                }
            }
        }
    }
    .slick-dots{
        min-height: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        transform: translateX(-50%);
        left: 50%;
        z-index: 999;
        @media ($sm-1481){
            left: 0%;
            padding-left: 0 !important;
        }
        @media ($sm-767){
            right: 0;
            transform: none;
            padding-right: 0;
            justify-content: center;
        }
        li{
            width: 14px;
            height: 14px;
            &.slick-active{
                button{
                    background-color: #2D2674;
                }
            }
            button{
                width: 14px;
                height: 14px;
                border-radius: 14px;
                border: 1px solid #4E45A1;
                background-color: #4E45A1;
                &:before{
                    display: none;
                }
            }
        }
    }

    .slick-dots,
    .slides-arrow{
        bottom: 60px;
        @media ($sm-1679){
            bottom: 40px;
        }
        @media ($sm-1481){
            width: 50%;
            transform: none !important;
            bottom: 10px;
        }
        @media ($sm-1481){
            padding-left: 30px;
            padding-right: 30px;
        }
        @media ($sm-1281){
            bottom: 0;
        }
        @media ($sm-991){
            bottom: -25px;
        }
        
    }
}