@import 'partials';
.inner-banner{
    width: 100%;
    background: #050412 url('../img/guide-bnr-new.jpg') no-repeat center;
    background-size: auto;
    padding-top: 210px;
    @media ($sm-1679){
        background-size: 100%;
    }
    @media ($sm-767){
        background: url('../img/home-bg.jpg') no-repeat center;
    }
    .container{
        height: 100%;
    }
    .bnr-cont-wrp{
        @media ($sm-1679){
            margin-top: 80px;
        }
        @media ($sm-1199){
            margin-top: 60px;
        }
        @media ($sm-991){
            margin-top: 10%;
        }
    }
    .title{
        font-weight: 600;
        font-size: 40px;
        line-height: 1.2;
        margin-bottom: 17px;
        @media ($sm-1679){
            font-size: 32px;
            line-height: 1.5;
        }
        @media ($sm-1481){
            font-size: 28px;
        }
        @media ($sm-1441){
            font-size: 26px;
        }
        @media ($sm-1281){
            font-size: 24px;
        }
        @media ($sm-1199){
            font-size: 22px;
        }
        @media ($sm-991){
            font-size: 20px;
        }

        br{
            @media ($sm-579){
                display: none;
            }
        }
    }
    .desc-para{
        margin-bottom: 36px;
        text-align: left;
        @media ($sm-1679){
            margin-bottom: 30px;
        }
        @media ($sm-1481){
            margin-bottom: 20px;
        }
        br{
            @media ($sm-767){
                display: none;
            }
        }
    }
    .bnr-content{
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 65px;
        @media ($sm-1199){
            padding-bottom: 45px;
        }
        @media ($sm-991){
            padding-bottom: 20px;
        }
        br{
            @media ($sm-579){
                display: none;
            }
        }
    }
    .bnr-img-wrp{
        display: flex;
        height: 100%;
        align-items: flex-end;
        justify-content: flex-start;
        position: relative;
        &.buide-banner{
            cursor: pointer;
            &:hover{
                .btn-view-full{
                   opacity: 1; 
                }
            }
            .btn-view-full{
                position: absolute;
                top: 70%;
                left: 50%;
                z-index: 2;
                background-color: #0000007c;
                color: #ffffff;
                transform: translate(-50%, -50%);
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                max-width: 225px;
                padding: 10px 20px;
                opacity: 1;
                transition: all ease-in-out 0.2s;
                border: none !important;
                &:before{
                    display: none !important;
                }
                .txt{
                    font-size: 14px;
                    font-weight: 300;
                }
                .ico{
                    padding-left: 20px;
                    img{
                        position: static;
                        width: 14px;
                        object-fit: contain;
                    }
                }
            }
        }
        @media ($sm-767){
            justify-content: center;
        }
        img{
            position: absolute;
            bottom: -82px;
            z-index: 1;
            max-width: 100%;
            @media ($sm-1679){
                max-width: 84%;
                bottom: -70px;
            }
            @media ($sm-1481){
                // max-width: 78%;
                max-width: 75%;
            }
            @media ($sm-1441){
                bottom: -50px;
            }
            @media ($sm-1199){
                bottom: -50px;
                max-width:352px;
            }
            @media ($sm-991){
                max-width: 325px;
                bottom: -37px;
            }

            @media ($sm-767){
                position: unset;
                max-width: 250px;
            }
        }
    }
    @media ($sm-1679){
        padding-top: 70px;
    }
}

.book-cover-modal{
    .modal-dialog{
        @media ($sm-579){
            overflow: hidden;
            height: calc(100% - var(--bs-modal-margin)* 2);
           
        }
        width: calc(100vw - 60px);
        max-width: 120vh;
        @media ($sm-1679){
            max-width: 1000px;
        }
    }
    .modal-content{
        background-color: #1c2220;
        border-radius: 20px;
        
        @media ($sm-579){
            max-height: 100%;
            padding-top: 30px;
        }
        .cover-img{
            width: 100%;
            object-fit: contain;
        }
    }
    .modal-body{
        @media ($sm-579){
            overflow-y: auto;
        }
    }
    .modal-header{
        border-color: transparent !important;
        padding: 0;
        .btn-close{
            position: absolute;
            top: 0;
            right: 0;
            background-color: #28255b;
            opacity: 1;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
            background-size: 20%;
            border-radius: 20px;
            z-index: 3;
            @media ($sm-767){
                top: 20px;
                right: 20px;
            }
        }
    }
}