@import 'partials';

.inner-banner.roadmap-banner {
    // min-height: 650px;
    background-image: url('../img/roadamap-bnr-bg-1.jpg');
    @media (min-width:1700px) {
        padding-top: 200px;       
    }

    .bnr-img-wrp img {
        bottom: auto;
        top: 0;
    }

    .bnr-content {
        padding-top: 80px;
        padding-bottom: 0;
    }

    .bnr-btn-block {
        padding-top: 70px;

        .nxt-map-btn {
            display: inline-flex;
            align-items: flex-start;
            font-size: 16px;
            font-weight: 200;
            color: #fff;
            text-decoration: none;

            .btn-img-md {
                margin-right: 20px;
            }

            .btn-arw {
                margin-left: 15px;
                transition: .3s;
            }

            .item {
                display: inline-block;
                padding-top: 20px;
            }

            &:hover {
                .btn-arw {
                    animation: rightToggle 1s infinite;

                }
            }
        }
    }
}

@keyframes rightToggle {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}
.roadmap-tab-sec{
    .roadmap-nav-tab {
        justify-content: space-between;
        .nav-item{
            flex-grow: unset;
            .nav-link{
                text-wrap: nowrap;
                padding-left: 50px;
                padding-right: 50px;
            }
        }
    }
    .rm-li-content-cover{
        .rm-li-block{
            padding-top: 60px;
        }
        ul{
            &.ul-left{
                padding-right: 10%;
            }
            li{
                margin-bottom: 30px;
                font-size: 21px;
                font-weight: 300;
                color: #fff;
                &::marker{
                    font-size: 25px;
                }
            }
        }
    }
    .content-block-2col{
        padding-bottom: 150px;
        padding-top: 200px;
        .sec-title{
            margin-bottom: 70px;
        }
        .content-2col-wrapper{
            .li-title-item{
                margin-bottom: 17px;
                font-size: 21px;
                img{
                    margin-right: 20px;
                }
            }
            
        }
    }
    .block-col-right{
        padding-left: 10%;
    }
    .block-col-left{
        padding-right: 10%;
    }
    .content-block-fluid{
        background-color: #080619;
        padding: 100px 0;
        .p-block{
            padding: 0 10%;
            p{
                max-width: 800px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    .txt-block{
        .img-block{
            width: 100%;
            text-align: center;
            padding: 30px;
            border-radius: 20px;
            background-color: #fff;
            margin-bottom: 25px;
            img{
                max-width: 100%;
            }
        }
        p{
            margin-bottom: 25px;
            font-weight: 300;
            font-size: 21px;
        }
    }
    .img-content-block-fluid{
        background-color: #0C0921;
        padding: 100px 0 150px;
        .img-2-col-block{
            padding-top: 50px;
            .img-2-block{
                margin-bottom: 30px;
                img{
                    width: 100%;
                }
            }
        }
    }
}

@media($sm-1679){
    .inner-banner.roadmap-banner .bnr-content {
        padding-top: 50px;
    }
    .roadmap-tab-sec .rm-li-content-cover ul li, 
    .roadmap-tab-sec .content-block-2col .content-2col-wrapper .li-title-item, 
    .roadmap-tab-sec .txt-block p{
        font-size: 18px;
    }
    .roadmap-tab-sec .content-block-2col {
        padding-bottom: 140px;
        padding-top: 100px;
    }
    .roadmap-tab-sec .txt-block .img-block-lg {
        max-width: 1000px;
        margin: 0 auto;
        img{
            max-height: 500px;
            width: auto;
            max-width: 100%;
        }
    }
    .inner-banner.roadmap-banner .bnr-btn-block .nxt-map-btn .btn-img-md{
        max-width: 80px;
    }
}
@media($sm-1481){
    .roadmap-tab-sec .rm-li-content-cover ul li, 
    .roadmap-tab-sec .content-block-2col .content-2col-wrapper .li-title-item, .roadmap-tab-sec .txt-block p {
        font-size: 16px;
    }
    .roadmap-tab-sec .content-block-2col {
        padding-bottom: 80px;
        padding-top: 75px;
    }
    .roadmap-tab-sec .txt-block .img-block-lg{
        max-width: 900px;
    }
    .roadmap-tab-sec .txt-block .img-block-lg img {
        max-height: 450px;
    }
    .roadmap-tab-sec .content-block-fluid {
        padding: 70px 0;
    }
    .roadmap-tab-sec .img-content-block-fluid {
        padding: 75px 0 90px;
    }
    .inner-banner.roadmap-banner .bnr-cont-wrp{
        margin-top: 60px;
    }
    .inner-banner.roadmap-banner .bnr-btn-block .nxt-map-btn .item{
        font-size: 15px;
    }
    .inner-banner.roadmap-banner .bnr-btn-block .nxt-map-btn .btn-arw{
        width: 45px;
    }
    .inner-banner.roadmap-banner .bnr-btn-block {
        padding-top: 45px;
    }
    .inner-banner.roadmap-banner .bnr-btn-block .nxt-map-btn .btn-img-md {
        max-width: 70px;
    }
    .roadmap-tab-sec .rm-li-content-cover .rm-li-block {
        padding-top: 30px;
    }
    .roadmap-tab-sec .content-block-2col .sec-title {
        margin-bottom: 50px;
    }
    .roadmap-tab-sec .img-content-block-fluid .img-2-col-block {
        padding-top: 35px;
    }
}
@media($sm-1199){
    .roadmap-tab-sec .img-content-block-fluid {
        padding: 65px 0 60px;
    }
    .roadmap-tab-sec .img-content-block-fluid .img-2-col-block {
        padding-top: 25px;
    }
    .inner-banner.roadmap-banner {
        background-size: cover;
    }
    .roadmap-tab-sec .rm-li-content-cover ul li, 
    .roadmap-tab-sec .content-block-2col .content-2col-wrapper .li-title-item, 
    .roadmap-tab-sec .txt-block p {
        font-size: 15px;
    }
    .roadmap-tab-sec .txt-block .img-block-lg {
        max-width: 800px;
        img {
            max-height: 400px;
        }
    }
}
@media($sm-991){
    .inner-banner.roadmap-banner{
        .bnr-img-wrp img{
            max-width: 100%;
        }
    }
    .roadmap-tab-sec{
        .page-wrap{
            padding-top: 0;
        }
    }
    .inner-banner.roadmap-banner .bnr-btn-block .nxt-map-btn .item {
        font-size: 14px;
    }
    .inner-banner.roadmap-banner .bnr-btn-block .nxt-map-btn .btn-img-md {
        max-width: 60px;
    }
    .inner-banner.roadmap-banner .bnr-btn-block .nxt-map-btn .btn-arw {
        width: 35px;
    }
    .roadmap-tab-sec .rm-li-content-cover ul li, 
    .roadmap-tab-sec .content-block-2col .content-2col-wrapper .li-title-item, 
    .roadmap-tab-sec .txt-block p {
        font-size: 14px;
    }
    .roadmap-tab-sec .rm-li-content-cover ul li {
        margin-bottom: 20px;
    }
    .roadmap-tab-sec .content-block-2col {
        padding-bottom: 50px;
        padding-top: 45px;
    }
    .roadmap-tab-sec .img-content-block-fluid {
        padding: 45px 0;
    }
    .roadmap-tab-sec .content-block-fluid {
        padding: 50px 0;
    }
    .roadmap-tab-sec .block-col-left {
        padding-right: 10px;
    }
    .roadmap-tab-sec .block-col-right {
        padding-left: 10px;
    }
    .roadmap-tab-sec .rm-li-content-cover ul.ul-left {
        padding-right: 15px;
    }
}
@media($sm-767){
    .inner-banner.roadmap-banner{
        .bnr-img-wrp img{
            max-width: 250px;
        }
        .bnr-img-wrp {
            align-items: flex-start;
            height: 270px;
            overflow: hidden;
        }
    }
    .inner-banner.roadmap-banner .bnr-content {
        padding-top: 15px;
    }
    .inner-banner.roadmap-banner .bnr-btn-block {
        padding-top: 25px;
    }
    .roadmap-tab-sec .rm-li-content-cover .rm-li-block {
        padding-top: 10px;
    }
    .roadmap-tab-sec .tabbed-wrap .tab-pane .inner-sec.sec-top {
        padding: 128px 0 30px;
    }
    .roadmap-tab-sec .content-block-2col .sec-title {
        margin-bottom: 30px;
    }
    .roadmap-tab-sec .block-col-right {
        padding-left: 0;
    }
    .roadmap-tab-sec .content-block-2col {
        padding: 30px 0;
    }
    .roadmap-tab-sec .txt-block .img-block img{
        max-height: 250px;
    }
    .roadmap-tab-sec .content-block-fluid {
        padding: 30px 0;
    }
    .roadmap-tab-sec .img-content-block-fluid {
        padding: 30px 0;
    }
    .roadmap-tab-sec .img-content-block-fluid .img-2-col-block .img-2-block img {
        width: auto;
        max-width: 100%;
        max-height: 300px;
    }
    .roadmap-tab-sec .txt-block p {
        margin-bottom: 10px;
    }
    .roadmap-tab-sec .block-col-left{
        padding-right: 0;
    }
    .roadmap-banner{
        .bnr-txt-col{
            order: 2;
        }
        .bnr-img-col{
            order: 1;
        }
    }
}
@media($sm-579){
    .roadmap-tab-sec .txt-block .img-block{
        padding: 15px;
    }
    .roadmap-tab-sec .txt-block .img-block img {
        max-height: 230px;
    }
    .roadmap-tab-sec .img-content-block-fluid .img-2-col-block .img-2-block img {
        max-height: 280px;
    }
    .roadmap-tab-sec .img-content-block-fluid .img-2-col-block .img-2-block {
        margin-bottom: 15px;
    }
}
.roadmap-tab-sec{

    .life-time-row{
        display: flex;
        .img-block-col{
            flex: 0 0 auto;
        }
        .img-block{
            text-align: center;
            padding: 30px;
            border-radius: 21px;
            background-color: #fff;
            width: 522px;
            img{
                max-width: 100%;
            }
        }
        .txt-block{
            flex: 1 1 auto;
            padding-left: 72px;
            padding-top: 15px;
            .title{
                margin-bottom: 10px;
            }
            .title-2{
                font-family: var(--font_titles);
                font-size: 27px;
                margin-bottom: 25px;
            }
            .desc-para{
                margin-bottom: 15px;
            }
        }
    }
    .roadmap-2-cover{
        .str-hgl{
            font-weight: 500;
        }
        
        .img-content-block-fluid{
            background-color: #0C0921;
            .img-col-block{
                margin-bottom: 30px;
            }
            .img-2-col-block{
                .img-2-block{
                    padding: 30px;
                    border-radius: 21px;
                    background-color: #fff;
                    margin-bottom: 0;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        width: auto;
                        max-width: 100%;
                    }
                }
            }
        }
        .inner-sec.sec-top{
            padding-bottom: 200px !important;
            @media($sm-1679){
                padding-bottom: 120px !important;
            }
            @media($sm-1481){
                padding-bottom: 90px !important;
            }
            @media($sm-1199){
                padding-bottom: 70px !important;
            }
            @media($sm-991){
                padding-bottom: 50px !important;
            }
            @media($sm-991){
                padding-bottom: 30px !important;
            }
        }
    }
}
@media($sm-1679){
    .roadmap-tab-sec .life-time-row .txt-block .title-2 {
        font-size: 23px;
        margin-bottom: 20px;
    }
    .roadmap-tab-sec .roadmap-2-cover .img-content-block-fluid .img-2-col-block .img-2-block img{
        max-height: 350px;
    }
    .roadmap-tab-sec .img-content-block-fluid {
        padding: 70px 0 100px;
    }
}
@media($sm-1481){
    .roadmap-tab-sec .life-time-row .img-block{
        width: 450px;
        img{
            max-height: 300px;
        }
    }
    .roadmap-tab-sec .roadmap-2-cover .img-content-block-fluid .img-2-col-block .img-2-block img{
        max-height: 300px;
    }
    .roadmap-tab-sec .img-content-block-fluid {
        padding: 60px 0 70px;
    }
    .roadmap-tab-sec .life-time-row .txt-block .title-2 {
        font-size: 21px;
    }
}
@media($sm-1199){
    .roadmap-tab-sec .life-time-row .txt-block {
        padding-left: 45px;
    }
    .roadmap-tab-sec .life-time-row .img-block img {
        max-height: 280px;
    }
    .roadmap-tab-sec .life-time-row .img-block {
        width: 430px;
    }
    .roadmap-tab-sec .life-time-row .txt-block .title-2{
        font-size: 18px;
    }
}
@media($sm-991){
    .roadmap-tab-sec .life-time-row{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        .img-block {
            margin: 0 auto;
            align-items: center;
            width: 350px;
            max-width: 100%;
            img{
                max-height: 260px;
            }
        }
    }
    .roadmap-tab-sec .life-time-row .img-block-col{
        max-width: 100%;
    }
    .roadmap-tab-sec .life-time-row .txt-block{
        padding-left: 0;
        padding-top: 40px;
        max-width: 700px;
    }
    .roadmap-tab-sec .img-content-block-fluid {
        padding: 50px 0;
    }
    .roadmap-tab-sec .roadmap-2-cover .img-content-block-fluid .img-2-col-block .img-2-block img {
        max-height: 260px;
    }
    .roadmap-tab-sec .tabbed-wrap .tab-pane .inner-sec.star-blk {
        padding: 50px 0;
    }
}
@media($sm-767){
    .roadmap-tab-sec .life-time-row .txt-block{
        max-width: 550px;
    }
    .roadmap-tab-sec .life-time-row .txt-block .desc-para{
        text-align: left;
    }
    .roadmap-tab-sec .roadmap-2-cover .img-content-block-fluid .img-2-col-block .img-2-block{
        margin: 0 auto;
        max-width: 450px;
    }
    .roadmap-tab-sec .life-time-row .img-block img {
        max-height: 200px;
    }
    .roadmap-tab-sec .roadmap-2-cover .img-content-block-fluid .img-2-col-block .img-2-block img {
        max-height: 220px;
    }
}
@media($sm-579){
    .roadmap-tab-sec .roadmap-2-cover .img-content-block-fluid .img-2-col-block .img-2-block {
        max-width: 400px;
        img{
            max-height: 220px;
        }
    }
    .roadmap-tab-sec .roadmap-2-cover .img-content-block-fluid .img-2-col-block .img-2-block{
        padding: 15px;
    }
    .roadmap-tab-sec .img-content-block-fluid {
        padding: 35px 0;
    }
    .roadmap-tab-sec .tabbed-wrap .tab-pane .inner-sec.star-blk {
        padding: 30px 0;
    }
}