@import 'partials';

.inner-banner.roadmap-banner {
    // min-height: 650px;
    background-image: url('../img/roadamap-bnr-bg-1.jpg');
    @media (min-width:1700px) {
        padding-top: 200px;       
    }

    .bnr-img-wrp img {
        bottom: auto;
        top: 0;
    }

    .bnr-content {
        padding-top: 80px;
        padding-bottom: 0;
    }

    .bnr-btn-block {
        padding-top: 70px;

        .nxt-map-btn {
            display: inline-flex;
            align-items: flex-start;
            font-size: 16px;
            font-weight: 200;
            color: #fff;
            text-decoration: none;

            .btn-img-md {
                margin-right: 20px;
            }

            .btn-arw {
                margin-left: 15px;
                transition: .3s;
            }

            .item {
                display: inline-block;
                padding-top: 20px;
            }

            &:hover {
                .btn-arw {
                    animation: rightToggle 1s infinite;

                }
            }
        }
    }
}

@keyframes rightToggle {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}
.roadmap-tab-sec{
    .roadmap-nav-tab {
        justify-content: space-between;
        .nav-item{
            flex-grow: unset;
            .nav-link{
                text-wrap: nowrap;
                padding-left: 50px;
                padding-right: 50px;
            }
        }
    }
    .rm-li-content-cover{
        .rm-li-block{
            padding-top: 60px;
        }
        ul{
            &.ul-left{
                padding-right: 7%;
            }
            li{
                margin-bottom: 30px;
                font-size: 20px;
                font-weight: 300;
                color: #fff;
                &::marker{
                    font-size: 25px;
                }
            }
        }
    }
    .content-block-2col{
        padding-bottom: 150px;
        padding-top: 200px;
        .sec-title{
            margin-bottom: 30px;
            p, span.txt{
                font-size: 21px;
                font-family: var(--font_txt);
                font-weight: 300;
                @media ($sm-1679){
                    font-size: 18px;
                }
                @media ($sm-1481){
                    font-size: 16px;
                }
                @media ($sm-1281){
                    font-size: 14px;
                }
            }
            p{
                max-width: 26em;
                margin-right: auto;
            }
        }
        .content-2col-wrapper{
            .li-title-item{
                margin-bottom: 17px;
                font-size: 20px;
                img{
                    margin-right: 20px;
                }
            }
            
        }
        &.table-content{
            padding: 100px 0 130px;
            @media ($sm-1679){
                padding: 60px 0;
            }
            @media ($sm-991){
                padding: 40px 0;
            }
            .sec-title{
                margin-bottom: 35px !important;
            }
            .txt-block{
                .img-block{
                    padding: 40px;
                    @media ($sm-1679){
                        padding: 30px;
                    }
                    @media ($sm-1481){
                        padding: 25px;
                    }
                    @media ($sm-1281){
                        padding: 20px;
                    }
                    .outer-img-wrp{
                        border: 1px solid #123d6b29;
                        border-radius: 12px;
                        padding: 45px 50px;
                        @media ($sm-1679){
                            padding: 30px 40px;
                        }
                        @media ($sm-1481){
                            padding: 30px;
                        }
                        @media ($sm-1281){
                            padding: 25px;
                        }
                        @media ($sm-1199){
                            padding: 20px;
                        }
                        img{
                            max-height:unset;
                        }
                    }
                }
            }
        }
    }
    .block-col-right{
        padding-left: 7%;
         
    }
    .block-col-left{
        padding-right: 7%;
        @media ($sm-1199){
            padding-right: 0%;
        }
    }
    .content-block-fluid{
        background-color: #080619;
        padding: 100px 0;
        .p-block{
            padding: 0 10%;
            p{
                max-width: 45em;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    .txt-block-img{
        width: 100%;
        
    }
    .txt-block{
        .img-block{
            width: 100%;
            text-align: center;
            padding: 30px;
            border-radius: 20px;
            background-color: #fff;
            margin-bottom: 25px;
            
            &.seven-pivotal{
                max-width: 400px;
                margin-left: auto;
                margin-right: auto;
                @media ($sm-1679){
                    max-width: 368px;
                }
                @media ($sm-1481){
                    max-width: 332px;
                }
                @media ($sm-1199){
                    max-width: 316px;
                }
            }
            img{
                max-width: 100%;
            }
        }
        p{
            margin-bottom: 25px;
            font-weight: 300;
            font-size: 20px;
            &.pvt-txt{
                @media ($lg-992){
                    max-width: 29em;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
    .img-content-block-fluid{
        background-color: #0C0921;
        padding: 200px 0 100px;
        @media($sm-1679){
            padding: 180px 0 80px !important;   
        }
        @media($sm-1199){
            padding: 70px 0 70px !important;   
        }
        .img-2-col-block{
            padding-top: 50px;
            .img-2-block{
                margin-bottom: 30px;
                border-radius: 12px;
                background-color: #ffffff;
                overflow: clip;
                padding: 12px;
                img{
                    width: 100%;
                }
            }
        }
    }
}

@media($sm-1679){
    .inner-banner.roadmap-banner .bnr-content {
        padding-top: 50px;
    }
    .roadmap-tab-sec .rm-li-content-cover ul li, 
    .roadmap-tab-sec .content-block-2col .content-2col-wrapper .li-title-item, 
    .roadmap-tab-sec .txt-block p{
        font-size: 18px;
    }
    .roadmap-tab-sec .content-block-2col {
        padding-bottom: 140px;
        padding-top: 100px;
    }
    .roadmap-tab-sec .txt-block .img-block-lg {
        max-width: 1000px;
        margin: 0 auto;
        img{
            max-height: 500px;
            width: auto;
            max-width: 100%;
        }
    }
    .inner-banner.roadmap-banner .bnr-btn-block .nxt-map-btn .btn-img-md{
        max-width: 80px;
    }
}
@media($sm-1481){
    .roadmap-tab-sec .rm-li-content-cover ul li, 
    .roadmap-tab-sec .content-block-2col .content-2col-wrapper .li-title-item, .roadmap-tab-sec .txt-block p {
        font-size: 16px;
    }
    .roadmap-tab-sec .content-block-2col {
        padding-bottom: 80px;
        padding-top: 75px;
    }
    .roadmap-tab-sec .txt-block .img-block-lg{
        max-width: 900px;
    }
    .roadmap-tab-sec .txt-block .img-block-lg img {
        max-height: 450px;
    }
    .roadmap-tab-sec .content-block-fluid {
        padding: 70px 0;
    }
    .roadmap-tab-sec .img-content-block-fluid {
        padding: 75px 0 90px;
    }
    .inner-banner.roadmap-banner .bnr-cont-wrp{
        margin-top: 60px;
    }
    .inner-banner.roadmap-banner .bnr-btn-block .nxt-map-btn .item{
        font-size: 15px;
    }
    .inner-banner.roadmap-banner .bnr-btn-block .nxt-map-btn .btn-arw{
        width: 45px;
    }
    .inner-banner.roadmap-banner .bnr-btn-block {
        padding-top: 45px;
    }
    .inner-banner.roadmap-banner .bnr-btn-block .nxt-map-btn .btn-img-md {
        max-width: 70px;
    }
    .roadmap-tab-sec .rm-li-content-cover .rm-li-block {
        padding-top: 30px;
    }
    .roadmap-tab-sec .content-block-2col .sec-title {
        margin-bottom: 50px;
    }
    .roadmap-tab-sec .img-content-block-fluid .img-2-col-block {
        padding-top: 35px;
    }
}
@media($sm-1199){
    .roadmap-tab-sec .img-content-block-fluid {
        padding: 65px 0 60px;
    }
    .roadmap-tab-sec .img-content-block-fluid .img-2-col-block {
        padding-top: 25px;
    }
    .inner-banner.roadmap-banner {
        background-size: cover;
    }
    .roadmap-tab-sec .rm-li-content-cover ul li, 
    .roadmap-tab-sec .content-block-2col .content-2col-wrapper .li-title-item, 
    .roadmap-tab-sec .txt-block p {
        font-size: 15px;
    }
    .roadmap-tab-sec .txt-block .img-block-lg {
        max-width: 800px;
        img {
            max-height: 400px;
        }
    }
}
@media($sm-991){
    .inner-banner.roadmap-banner{
        .bnr-img-wrp img{
            max-width: 100%;
        }
    }
    .roadmap-tab-sec{
        .page-wrap{
            padding-top: 0;
        }
    }
    .inner-banner.roadmap-banner .bnr-btn-block .nxt-map-btn .item {
        font-size: 14px;
    }
    .inner-banner.roadmap-banner .bnr-btn-block .nxt-map-btn .btn-img-md {
        max-width: 60px;
    }
    .inner-banner.roadmap-banner .bnr-btn-block .nxt-map-btn .btn-arw {
        width: 35px;
    }
    .roadmap-tab-sec .rm-li-content-cover ul li, 
    .roadmap-tab-sec .content-block-2col .content-2col-wrapper .li-title-item, 
    .roadmap-tab-sec .txt-block p {
        font-size: 14px;
    }
    .roadmap-tab-sec .rm-li-content-cover ul li {
        margin-bottom: 20px;
    }
    .roadmap-tab-sec .content-block-2col {
        padding-bottom: 50px;
        padding-top: 45px;
    }
    .roadmap-tab-sec .img-content-block-fluid {
        padding: 45px 0;
    }
    .roadmap-tab-sec .content-block-fluid {
        padding: 50px 0;
    }
    .roadmap-tab-sec .block-col-left {
        padding-right: 10px;
    }
    .roadmap-tab-sec .block-col-right {
        padding-left: 10px;
    }
    .roadmap-tab-sec .rm-li-content-cover ul.ul-left {
        padding-right: 15px;
    }
}
@media($sm-767){
    .inner-banner.roadmap-banner .bnr-cont-wrp {
        margin-top: 30px;
    }
    .inner-banner.roadmap-banner{
        .bnr-img-wrp img{
            max-width: 250px;
        }
        .bnr-img-wrp {
            align-items: flex-start;
            height: 270px;
            overflow: hidden;
        }
    }
    .inner-banner.roadmap-banner .bnr-content {
        padding-top: 15px;
        margin-top: -20px;
    }
    .inner-banner.roadmap-banner .bnr-btn-block {
        padding-top: 25px;
    }
    .roadmap-tab-sec .rm-li-content-cover .rm-li-block {
        padding-top: 10px;
    }
    .roadmap-tab-sec .tabbed-wrap .tab-pane .inner-sec.sec-top {
        padding: 50px 0 30px;
    }
    .roadmap-tab-sec .content-block-2col .sec-title {
        margin-bottom: 30px;
    }
    .roadmap-tab-sec .block-col-right {
        padding-left: 0;
    }
    .roadmap-tab-sec .content-block-2col {
        padding: 30px 0;
    }
    .roadmap-tab-sec .txt-block .img-block img{
        max-height: 250px;
    }
    .roadmap-tab-sec .content-block-fluid {
        padding: 30px 0;
    }
    .roadmap-tab-sec .img-content-block-fluid {
        padding: 30px 0;
    }
    .roadmap-tab-sec .img-content-block-fluid .img-2-col-block .img-2-block img {
        width: auto;
        max-width: 100%;
        max-height: 300px;
    }
    .roadmap-tab-sec .txt-block p {
        margin-bottom: 10px;
    }
    .roadmap-tab-sec .block-col-left{
        padding-right: 0;
    }
    .roadmap-banner{
        .bnr-txt-col{
            order: 2;
        }
        .bnr-img-col{
            order: 1;
        }
    }
}
@media($sm-579){
    .roadmap-tab-sec .txt-block .img-block{
        padding: 15px;
    }
    .roadmap-tab-sec .txt-block .img-block img {
        max-height: 230px;
    }
    .roadmap-tab-sec .img-content-block-fluid .img-2-col-block .img-2-block img {
        max-height: 300px;
    }
    .roadmap-tab-sec .img-content-block-fluid .img-2-col-block .img-2-block {
        margin-bottom: 15px;
    }
}
.roadmap-tab-sec{

    .life-time-row{
        display: flex;
        align-items: center;
        .img-block-col{
            flex: 0 0 auto;
        }
        .img-block{
            text-align: center;
            padding: 30px;
            border-radius: 21px;
            background-color: #fff;
            max-width: 420px;
            margin-left: auto;
            margin-right: auto;
            @media ($sm-1679){
                max-width: 368px;
            }
            @media ($sm-1481){
                max-width: 320px;
            }
            img{
                max-width: 100% !important;
            }
        }
        .txt-block{
            flex: 1 1 auto;
            padding-left: 72px;
            padding-top: 15px;
            .title{
                margin-bottom: 10px;
            }
            .title-2{
                font-family: var(--font_titles);
                font-size: 27px;
                margin-bottom: 25px;
            }
            .desc-para{
                margin-bottom: 15px;
            }
        }
    }
    .roadmap-2-cover{
        .str-hgl{
            font-weight: 500;
        }
        
        .img-content-block-fluid{
            background-color: #0C0921;
            .img-col-block{
                margin-bottom: 30px;
            }
            .img-2-col-block{
                .img-2-block{
                    padding: 30px;
                    border-radius: 21px;
                    background-color: #fff;
                    margin-bottom: 0;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        width: auto;
                        max-width: 100%;
                    }
                }
            }
        }
        .inner-sec.sec-top{
            padding-bottom: 200px !important;
            @media($sm-1679){
                padding-bottom: 120px !important;
            }
            @media($sm-1481){
                padding-bottom: 90px !important;
            }
            @media($sm-1199){
                padding-bottom: 70px !important;
            }
            @media($sm-991){
                padding-bottom: 50px !important;
            }
            @media($sm-991){
                padding-bottom: 30px !important;
            }
        }
    }
    
    .roadmap-3-cover{
        .inner-sec.sec-top{
            background: #0C0921 !important;
        }
    }
    .roadmap-index-slider{
        .item{
            display: flex !important;
            justify-content: center;
            .img-block{
                display: inline-block;
                margin: 0 auto;
                text-align: center;
                padding: 30px;
                border-radius: 21px;
                background-color: #fff;
                margin-bottom: 0;
                height: 100%;
                @media ($sm-1679) {
                    max-width: 1000px;
                }
                img{
                    max-height: 80vh;
                    width: auto;
                    max-width: 100%;
                    @media ($sm-1481) {
                        max-height: 70vh;
                    }
                    @media ($sm-767) {
                        max-height: none;
                        max-width: 100%;
                    }
                }
            }
        }
    }

    .roadmap-slider-cover{
        .title{
            margin-bottom: 40px;
            font-weight: 600;
            @media ($sm-1679) {
                margin-bottom: 30px;
            }
        }
        .slider-btn-cover{
            padding: 0 20px;
            @media ($sm-579) {
                padding: 0;
            }
        }
        .slider-btn-block{
            padding-top: 45px;
            display: flex;
            justify-content: space-between;
            @media ($sm-1679) {
                margin: 0 auto;
                max-width: 800px;
                padding-top: 30px;
            }
            
            @media ($sm-1481) {
                padding-top: 15px;
            }
            .rd-btn{
                display: inline-flex;
                align-items: center;
                padding: 10px 0;
                font-size: 16px;
                font-weight: 100;
                color: #fff;
                background-color: transparent;
                border: none;
                box-shadow: none;
                @media ($sm-1679) {
                    font-size: 15px;
                }
                @media ($sm-579) {
                    font-size: 14px;
                }
                img{
                    width: 60px;
                    @media ($sm-1679) {
                        width: 45px;
                    }
                    @media ($sm-1481) {
                        width: 35px;
                    }
                    @media ($sm-1199) {
                        width: 28px;
                    }
                }
                &.rd-btn-left{
                    img{
                        margin-right: 15px;
                        transform: scaleX(-1);
                        @media ($sm-767) {
                            margin-right: 5px;
                        }
                    }
                }
                &.rd-btn-right{
                    img{
                        margin-left: 15px;
                        @media ($sm-767) {
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
    }
    .tabbed-wrap .tab-pane .roadmap-3-cover .inner-sec.sec-top {
        @media($sm-1679){
            padding-top: 130px;
            padding-bottom: 60px;
        }
        @media($sm-767){
            padding-top: 80px !important;
        }
    }
}
@media($sm-1679){
    .roadmap-tab-sec .life-time-row .txt-block .title-2 {
        font-size: 23px;
        margin-bottom: 20px;
    }
    .roadmap-tab-sec .roadmap-2-cover .img-content-block-fluid .img-2-col-block .img-2-block img{
        max-height: 350px;
    }
    .roadmap-tab-sec .img-content-block-fluid {
        padding: 70px 0 60px;
    }
}
@media($sm-1481){
    .roadmap-tab-sec .life-time-row .img-block{
        width: 450px;
        img{
            max-height: 300px;
        }
    }
    .roadmap-tab-sec .roadmap-2-cover .img-content-block-fluid .img-2-col-block .img-2-block img{
        max-height: 300px;
    }
    .roadmap-tab-sec .img-content-block-fluid {
        padding: 60px 0 40px;
    }
    .roadmap-tab-sec .life-time-row .txt-block .title-2 {
        font-size: 20px;
    }
}
@media($sm-1199){
    .roadmap-tab-sec .life-time-row .txt-block {
        padding-left: 45px;
    }
    .roadmap-tab-sec .life-time-row .img-block img {
        max-height: 280px;
    }
    .roadmap-tab-sec .life-time-row .img-block {
        width: 430px;
    }
    .roadmap-tab-sec .life-time-row .txt-block .title-2{
        font-size: 18px;
    }
}
@media($sm-991){
    .roadmap-tab-sec .life-time-row{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        .img-block {
            margin: 0 auto;
            align-items: center;
            width: 350px;
            max-width: 100%;
            img{
                max-height: 260px;
            }
        }
    }
    .roadmap-tab-sec .life-time-row .img-block-col{
        max-width: 100%;
    }
    .roadmap-tab-sec .life-time-row .txt-block{
        padding-left: 0;
        padding-top: 40px;
        max-width: 700px;
    }
    .roadmap-tab-sec .img-content-block-fluid {
        padding: 50px 0 20px;
    }
    .roadmap-tab-sec .roadmap-2-cover .img-content-block-fluid .img-2-col-block .img-2-block img {
        max-height: 260px;
    }
    .roadmap-tab-sec .tabbed-wrap .tab-pane .inner-sec.star-blk {
        padding: 20px 0;
    }
}
@media($sm-767){
    .roadmap-tab-sec .roadmap-index-slider .item .img-block{
        padding: 12px;
    }
    .roadmap-tab-sec .tabbed-wrap .tab-pane .roadmap-3-cover .inner-sec.sec-top {
        padding-bottom: 35px;
    }
    .roadmap-tab-sec .roadmap-index-slider .item{
        padding: 0 3px;
    }
    .roadmap-tab-sec  .tabbed-wrap .tab-nav-wrp {
        padding-top: 0;
    }
    .roadmap-tab-sec .life-time-row .txt-block{
        max-width: 550px;
    }
    .roadmap-tab-sec .life-time-row .txt-block .desc-para{
        text-align: left;
    }
    .roadmap-tab-sec .roadmap-2-cover .img-content-block-fluid .img-2-col-block .img-2-block{
        margin: 0 auto;
        max-width: 450px;
    }
    .roadmap-tab-sec .life-time-row .img-block img {
        max-height: 200px;
    }
    .roadmap-tab-sec .roadmap-2-cover .img-content-block-fluid .img-2-col-block .img-2-block img {
        max-height: 220px;
    }
}
@media($sm-579){
    .roadmap-tab-sec .roadmap-2-cover .img-content-block-fluid .img-2-col-block .img-2-block {
        max-width: 400px;
        img{
            max-height: 220px;
        }
    }
    .roadmap-tab-sec .roadmap-2-cover .img-content-block-fluid .img-2-col-block .img-2-block{
        padding: 15px;
    }
    .roadmap-tab-sec .img-content-block-fluid {
        padding: 35px 0;
    }
    .roadmap-tab-sec .tabbed-wrap .tab-pane .inner-sec.star-blk {
        padding: 30px 0;
    }
}
.pagination-btn-block {
    padding-top: 0px;
    display: flex;
    @media ($sm-1679){
        max-width: 1000px;
        margin: 0 auto;
    }
    @media ($sm-1481){
        max-width: 900px;
        margin: 0 auto;
    }
    @media ($sm-1199){
        max-width: 800px;
        margin: 0 auto;
    }


    .nxt-map-btn {
        display: inline-flex;
        align-items: flex-start;
        font-size: 16px;
        font-weight: 200;
        color: #fff;
        text-decoration: none;
        flex: 0 0 auto;
        font-family: var(--font_txt);
        &.prev{
            margin-right: auto;
            img{
                transform: rotate(180deg);
                margin-right: 15px;
                margin-left: 0px;
            }
            &:hover{
                .btn-arw{
                    animation: leftToggle 1s infinite;
                }
            }
        }

        .btn-img-md {
            margin-right: 20px;
        }

        .btn-arw {
            margin-left: 15px;
            transition: .3s;
            @media ($sm-1481){
                width: 45px;
            }
            @media ($sm-991){
                width: 35px;
            }
        }

        .item {
            display: inline-block;
            padding-top: 20px;
            @media ($sm-1481){
                font-size: 15px;
            }
            @media ($sm-991){
                font-size: 14px;
            }
        }

        &:hover {
            .btn-arw {
                animation: rightToggle 1s infinite;

            }
        }
    }
}

@keyframes leftToggle {
    0% {
        transform: rotate(180deg) translateX(0);
    }

    50% {
        transform: rotate(180deg) translateX(10px);
    }

    100% {
        transform: rotate(180deg) translateX(0);
    }
}

.popup-fit{
    background-size: contain !important;
  }