@import 'partials';

.tabbed-wrap {
    background-color: var(--bg_ternary);
    @media ($sm-767){
        padding-top: 40px;
    }


    .tab-select {
        background-color: transparent;
        color: var(--white);
        border-color: #7f7d8b3d;
        font-size: 13px;
        padding-top: 15px;
        padding-bottom: 15px;
        box-shadow: none !important;

        option {
            background-color: var(--bg_secondary);

            &:hover,
            &:active,
            &:checked {
                background-color: var(--bg_ternary) !important;
            }
        }
    }

    .tab-nav-wrp {
        border-bottom: 1px solid #7f7d8b3d;
        position: absolute;
        z-index: 2;
        width: 100%;

        @media ($sm-991) {
            border-bottom-color: transparent !important;
            padding-top: 20px;
        }

        .container-custom {
            @media ($lg-1200) {
                padding-left: 40px;
                padding-right: 40px;
            }
        }
    }

    .nav-tabs {
        border-bottom: none !important;
    }

    .nav-link {
        color: var(--white) !important;
        border-color: transparent !important;
        font-size: 16px;
        font-weight: 300;
        padding-top: 2em;
        padding-bottom: 2em;

        @media ($sm-1679 ) {
            font-size: 14px;
        }

        @media ($sm-1441 ) {
            font-size: 13px;
        }

        @media ($sm-1199 ) {
            font-size: 12px;
        }

        &.nav-link {
            background-color: transparent;
            position: relative;

            &:after {
                position: absolute;
                content: '';
                bottom: 0;
                left: 0;
                right: 0;
                height: 2px;
                background-color: transparent;
                border-radius: 4px;
                transition: all ease-in-out 0.2s;
                width: 53px;
                left: 50%;
                transform: translateX(-50%);

            }

            &.active {
                &:after {
                    background-color: var(--bg_primary);
                }
            }
        }
    }

    .tab-pane {

        .inner-sec {
            &.sec-top{
                background: url('../img/tab-guide-main-bg.png');
                background-repeat: no-repeat;
                background-position: bottom;
                background-size: cover;
                padding: 244px 0 220px;
                @media ($sm-1679){
                    padding: 150px 0 70px;
                }
                @media ($sm-1481){
                    padding: 168px 0 90px;
                }
                @media ($sm-1199){
                    padding: 148px 0 70px;
                }
                @media ($sm-991){
                    padding: 128px 0 50px;
                }
            }

            &.illustration {
                background-color: #080619;
                padding: 150px 0 230px;
                @media ($sm-1679){
                    padding: 120px 0;
                }
                @media ($sm-1481){
                    padding: 90px 0;
                }
                @media ($sm-1199){
                    padding: 70px 0;
                }
                @media ($sm-767){
                    padding: 60px 0 40px;
                }
            }
            &.star-blk{
                background: url('../img/star-blk-bg.jpg') no-repeat;
                background-size: cover;
                background-position: center;
                background-attachment: fixed;
                position: relative;
                padding: 183px 0 218px;
                @media ($sm-1679){
                    padding: 120px 0;
                }
                @media ($sm-1481){
                    padding: 90px 0;
                }
                @media ($sm-1199){
                    padding: 70px 0;
                }
                @media ($sm-767){
                    padding: 50px 0 0;
                }
                // &::after{
                //     content: "";
                //     width: 35vw;
                //     height: 35vw;
                //     position: absolute;
                //     top: 60%;
                //     transform: translateY(-60%);
                //     right: 0px;
                //     background: url('../img/star-svg.svg') no-repeat;
                //     background-size: contain;
                //     background-position: center;
                //     @media ($sm-1679){
                    
                //     }
                // }
                .desc-para{
                    margin-bottom: 44px;
                    @media ($sm-1679){
                        margin-bottom: 30px;
                    }
                    @media ($sm-1481){
                        margin-bottom: 25px;
                    }
                    @media ($sm-1281){
                        margin-bottom: 20px;
                    }
                }
                .star-img-rt{
                    display: flex;
                    justify-content: flex-end;
                    // position: relative;
                    @media ($sm-1679){
                        transform: translateX(105px)
                    }
                    @media (max-width:1399px){
                        transform: none !important;
                    }
                    @media ($sm-767){
                        justify-content: center;
                    }
                    img{
                        max-width: 380px;
                        position: absolute;
                        right: 0px;
                        @media ($sm-767){
                            position: unset;
                            max-width: 200px;
                        }
                    }
                }
            }

            .content-wrp {
                max-width: 775px;
                margin: 0 auto;

                .title {
                    margin-bottom: 44px;
                }

                .desc-para {
                    margin-bottom: 30px;
                    @media ($sm-1679){
                        margin-bottom: 25px;
                    }
                    @media ($sm-1481){
                        margin-bottom: 20px;
                    }
                }
            }
            .desc-para{
                &.info-note{
                    font: normal normal 300 16px/27px var(--font_titles);
                    @media ($sm-1679){
                        font-size: 14px;
                        line-height: 24px;
                    }
                }
            }

            .prview-wrp {
                display: flex;
                margin-top: 66px;
                flex-wrap: wrap;
                width: 100%;
                @media ($sm-1679){
                    margin-top: 40px;
                }
                @media ($sm-767){
                    flex-direction: column;
                    margin-top: 20px;
                }
                .preview-col {
                    display: flex;
                    flex-direction: column;
                    margin: 0 20px;
                    flex: 0 0 auto;
                    width: calc(50% - 40px);
                    @media ($sm-1679){
                        width: calc(50% - 30px);
                        margin: 0 15px;
                    }
                    @media ($sm-1481){
                        width: calc(50% - 20px);
                        margin: 0 10px;
                    }
                    @media ($sm-767){
                        width: 100%;
                        margin: 0 0 30px;
                    }

                    .prev-title {
                        font: normal normal 600 25px/33px var(----font_titles);
                        text-align: center;
                        margin-bottom: 33px;
                        @media ($sm-1679){
                            margin-bottom: 20px;
                            font-size: 20px;
                            line-height: 32px;
                        }
                        @media ($sm-1281){
                            margin-bottom: 20px;
                            font-size: 18px;
                        }
                        @media ($sm-1199){
                            margin-bottom: 20px;
                            font-size: 16px;
                        }
                        br{
                            @media ($sm-767){
                                display: none;
                            }
                        }
                    }

                    .prev-wrp {
                        background-color: var(--white);
                        border: 1px solid #707070;
                        border-radius: 21px;
                        padding: 30px;
                        img{
                            max-width: 100%;
                        }
                    }
                }

            }
        }
    }
    &.guide-tab {
        .nav-item{
            flex-basis: auto;
        }
        .nav-link{
            &.nav-link{
            padding-left: 0px;
            padding-right: 0px;
            width: auto;
            }
        }
    }
}