@import 'partials';

.tabbed-wrap {
    background-color: var(--bg_ternary);
    overflow-x: clip;
    @media ($sm-767){
        padding-top: 40px;
    }

    

    .tab-select {
        background-color: #141033;
        color: var(--white);
        border-color: #35296A;
        font-size: 13px;
        padding-top: 15px; 
        padding-bottom: 15px;
        box-shadow: none !important;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
        option {
            background-color: var(--bg_secondary);
            &:hover,
            &:active,
            &:checked {
                background-color: var(--bg_ternary) !important;
            }
        }
    }

    .tab-nav-wrp {
        border-bottom: 1px solid #7f7d8b3d;
        position: absolute;
        z-index: 2;
        width: 100%;

        @media ($sm-991) {
            border-bottom-color: transparent !important;
            padding-top: 20px;
        }

         
    }

    .nav-tabs {
        border-bottom: none !important;
    }

    .nav-link {
        color: var(--white) !important;
        border-color: transparent !important;
        font-size: 16px;
        font-weight: 300;
        padding-top: 30px;
        padding-bottom: 30px;
        @media ($sm-1679 ) {
            font-size: 14px;
            padding-top: 28px;
            padding-bottom: 28px;
        }

        @media ($sm-1441 ) {
            font-size: 13px;
            padding-top: 26px;
            padding-bottom: 26px;
        }

        @media ($sm-1199 ) {
            font-size: 12px;
            padding-top: 22px;
            padding-bottom: 22px;
        }

        &.nav-link {
            background-color: transparent;
            position: relative;

            &:after {
                position: absolute;
                content: '';
                bottom: 0;
                left: 0;
                right: 0;
                height: 2px;
                background-color: transparent;
                border-radius: 4px;
                transition: all ease-in-out 0.2s;
                width: 53px;
                left: 50%;
                transform: translateX(-50%);

            }

            &.active {
                &:after {
                    background-color: var(--bg_primary);
                }
            }
        } 
    }

    .tab-pane {
        .txt-col,
        .sec-top{
            ul{
                padding-left: 15px;
            }
            li,p{
                margin-bottom: 3em;
                font-size: 21px;
                line-height: 2;
                @media ($sm-1679){
                    font-size: 16px;
                    margin-bottom: 28px;
                }
                @media ($sm-1481){
                    font-size: 14px;
                    margin-bottom: 24px;
                    
                }
                @media ($sm-1199){
                    font-size: 12px;
                    margin-bottom: 18px;
                }
                 
                &:last-child{
                    margin-bottom: 0;
                }
            }
            .astrologers-wrp{
                max-width: 1060px;
                margin-left: auto;
                margin-right: auto;
                .desc-para {
                    margin-top: 30px;
                    br{
                        @media ($sm-579){
                            display: none;
                        }
                    }
                }
                
            }
            .astr-cont{
                border: 1px solid rgba(255,255,255,0.26);
                padding: 30px;
                border-radius: 20px;
                height: 100%;
                @media ($sm-1441){
                    padding: 20px;
                }
                @media ($sm-1199){
                    padding: 15px;
                }
            }
            .astrologers{
                margin-bottom: 0;
                li{
                    margin-bottom: 0;
                    font-weight: 300;
                    .li{
                        display: inline-flex;
                        align-items: center;
                        padding-left: 8px;
                        &:before{
                            content: '';
                            width: 6px;
                            height: 6px;
                            flex: 0 0 6px;
                            background-color: #ffffff;
                            display: block;
                            border-radius: 8px;
                            margin-right: 8px;
                        }
                    }
                }
            }
        }
        .sec-top{
            .text-sub{
                font-size: 26px;
                @media ($sm-1679){
                    font-size: 20px;
                }
                @media ($sm-1481){
                    font-size: 18px;
                }
                 
            }
        }
        .title-col{
            .apx-part3-title{
                @media ($lg-768){
                    max-width: 10em;
                }
                @media ($sm-767){
                    margin-bottom: 16px;
                }
            }
        }

        .inner-sec {
            &.sec-top{
                background: url('../img/tab-guide-main-bg.png');
                background-repeat: no-repeat;
                background-position: bottom;
                background-size: cover;
                // padding: 298px 0 220px;
                padding: 198px 0 100px 0;
                @media ($sm-1679){
                    padding: 150px 0 70px;
                }
                @media ($sm-1481){
                    padding: 168px 0 90px;
                }
                @media ($sm-1199){
                    padding: 148px 0 70px;
                }
                @media ($sm-991){
                    padding: 128px 0 50px;
                }
            }

            &.illustration {
                background-color: #080619;
                // padding: 150px 0 230px;
                padding: 100px 230px 100px 230px;
                // @media ($sm-1679){
                //     padding: 120px 0;
                // }
                // @media ($sm-1481){
                //     padding: 168px 0;
                // }
                // @media ($sm-1199){
                //     padding: 148px 0;
                // }
                // @media ($sm-767){
                //     padding: 138px 0 40px;
                // }
                @media ($sm-1679){
                    padding: 80px 0;
                }
                @media ($sm-1481){
                    padding: 90px 0;
                }
                @media ($sm-1199){
                    padding: 70px 0;
                }
                @media ($sm-767){
                    padding: 50px 0 20px;
                }
                &.postmark{
                    padding-bottom: 124px;
                    background-color: var(--bg_ternary);
                    @media ($sm-1679){
                        padding-bottom: 100px;
                    }
                    @media ($sm-1481){
                        padding-bottom: 80px;
                    }
                    @media ($sm-767){
                        padding-top: 108px;
                        padding-bottom:20px;
                    }
                    .preview-col{
                        width: calc(47% - 40px);
                        @media ($sm-767){
                           max-width: 400px;
                           width: 100% !important;
                        }
                    }
                    .page-flip-wrp{
                        border-radius: 38px;
                        background-color: var(--white);
                        width: 100%;
                        padding: 30px;
                        overflow: hidden;
                        margin-top: 40px;
                        @media ($sm-1679){
                            margin-top: 30px;
                        }
                        @media ($sm-1481){
                            margin-top: 20px;
                        }
                        @media ($sm-991){
                            margin-top: 0px;
                        }
                        img{
                            max-width: 100%;
                        }

                        
                    }
                }
            }
            &.star-blk{
                background: url('../img/star-blk-bg.jpg') no-repeat;
                background-size: cover;
                background-position: center;
                background-attachment: fixed;
                position: relative;
                // padding: 183px 0 218px;
                padding: 153px 218px 100px 218px;
                @media ($sm-1679){
                    padding: 120px 0;
                }
                @media ($sm-1481){
                    padding: 50px 0;
                }
                @media ($sm-1199){
                    padding: 30px 0;
                }
                @media ($sm-767){
                    padding: 20px 0 0;
                }
                br{
                    @media ($sm-991){
                        display: none;
                    }
                }
                // &::after{
                //     content: "";
                //     width: 35vw;
                //     height: 35vw;
                //     position: absolute;
                //     top: 60%;
                //     transform: translateY(-60%);
                //     right: 0px;
                //     background: url('../img/star-svg.svg') no-repeat;
                //     background-size: contain;
                //     background-position: center;
                //     @media ($sm-1679){
                    
                //     }
                // }
                .desc-para{
                    margin-bottom: 44px;
                    @media ($sm-1679){
                        margin-bottom: 30px;
                    }
                    @media ($sm-1481){
                        margin-bottom: 25px;
                    }
                    @media ($sm-1281){
                        margin-bottom: 20px;
                    }
                    @media ($sm-767){
                        text-align: left;
                    }
                }
                .star-img-rt{
                    display: flex;
                    justify-content: flex-end;
                    // position: relative;
                    @media ($sm-1679){
                        transform: translateX(105px)
                    }
                    @media (max-width:1399px){
                        transform: none !important;
                    }
                    @media ($sm-767){
                        justify-content: center;
                    }
                    img{ 
                        max-width: 450px;
                        position: absolute;
                        right: 0px;
                        top: 20%;
                        @media ($sm-1481){
                            top: unset;
                            max-width: 370px;
                        }
                        @media ($sm-1281){
                            max-width: 300px;
                        }
                        @media ($sm-991){
                            max-width: 360px;
                        }
                        @media ($sm-767){
                            position: unset;
                            max-width: 200px;
                        }
                    }
                }
            }

            &.appendix-sec{
                padding-top: 150px;
                padding-bottom: 150px;
                @media ($sm-1679){
                    padding-top: 80px;
                    padding-bottom: 80px;
                }

                @media ($sm-1481){
                    padding-top: 60px;
                    padding-bottom: 60px;
                }
                @media ($sm-1281){
                    padding-top: 50px;
                    padding-bottom: 50px;
                }
                @media ($sm-991){
                    padding-top: 30px;
                    padding-bottom: 30px;
                }
                position: relative;
                overflow: clip;
                background-color: #080619;
                & > * {
                    position: relative;
                    z-index: 1;
                }
                .sec-bg{
                    position: absolute;
                    inset: 0;
                    z-index: 0;
                    background: #080619 url(../img/author-bg.png) no-repeat left/contain;
                    opacity: 0.5;
                    &:before{
                        position: absolute;
                        inset: 0;
                        content: '';
                        background-color: #0806194b;
                        // mix-blend-mode: screen;
                        z-index: 1;
                    }
                    &:after{
                        position: absolute;
                        content: '';
                        background: url(../img/author-bg.png) no-repeat left/contain;
                        z-index: 0;
                        top: 0;
                        right: 0;
                        width: 50%;
                        aspect-ratio: 1;
                        transform: translate(50%, -50%);
                    }
                }
            }
            .content-wrp {
                max-width: 775px;
                margin: 0 auto;
                @media ($sm-1679){
                    max-width: 665px;
                }
                @media ($sm-1481){
                    max-width: 590px;
                }
                @media ($sm-1281){
                    max-width: 518px;
                }
                @media ($sm-1199){
                    max-width: 480px;
                }

                .title {
                    margin-bottom: 44px;
                }

                .desc-para {
                    margin-bottom: 30px;
                    @media ($sm-1679){
                        margin-bottom: 25px;
                    }
                    @media ($sm-1481){
                        margin-bottom: 20px;
                    }
                }
            }
            .desc-para{
                &.info-note{
                    font: normal normal 300 16px/27px var(--font_txt);
                    @media ($sm-1679){
                        font-size: 14px;
                        line-height: 24px;
                    }
                }
            }

            .prview-wrp {
                display: flex;
                margin-top: 66px;
                flex-wrap: wrap;
                width: 100%;
                @media ($sm-1679){
                    margin-top: 40px;
                    max-width: 1100px;
                    margin-left: auto;
                    margin-right: auto;
                }
                @media ($sm-767){
                    flex-direction: column;
                    margin-top: 20px;
                    align-items: center;
                }
                .preview-col {
                    display: flex;
                    flex-direction: column;
                    margin: 0 20px;
                    flex: 0 0 auto;
                    width: calc(50% - 40px);
                    @media ($sm-1679){
                        width: calc(50% - 30px);
                        margin: 0 15px;
                    }
                    @media ($sm-1481){
                        width: calc(50% - 20px);
                        margin: 0 10px;
                    }
                    @media ($sm-767){
                        width: 50%;
                        margin: 0 0 30px;
                    }
                    @media ($sm-579){
                        width: 90%;
                        margin: 0 0 30px;
                    }

                    .prev-title {
                        font: normal normal 600 25px/33px var(--font_titles);
                        text-align: center;
                        margin-bottom: 33px;
                        @media ($sm-1679){
                            margin-bottom: 20px;
                            font-size: 20px;
                            line-height: 32px;
                        }
                        @media ($sm-1281){
                            margin-bottom: 20px;
                            font-size: 18px;
                            line-height: 28px;
                        }
                        @media ($sm-1199){
                            margin-bottom: 20px;
                            font-size: 16px;
                            line-height: 22px;
                        }
                        @media ($sm-767){
                            font-size: 14px;
                            line-height: 20px;
                        }
                        // br{
                        //     @media ($sm-767){
                        //         display: none;
                        //     }
                        // }
                    }

                    .prev-wrp {
                        background-color: var(--white);
                        border: 1px solid #707070;
                        border-radius: 21px;
                        padding: 30px;
                        img{
                            max-width: 100%;
                        }
                    }
                    &.author{
                        width: calc(53% - 40px);
                        .author-pic{
                            align-items: center;
                            display: flex;
                            margin: 38px 12px 0;
                            @media ($sm-1679){
                                margin: 30px 12px 0;
                            }
                            @media ($sm-1281){
                                margin: 25px 10px 0;
                            }
                            @media ($sm-991){
                                margin: 20px 10px 0;
                            }
                            @media ($sm-767){
                                margin: 20px auto 0;
                            }
                            
                        }
                        .prev-title{
                            font-size: 35px;
                            line-height: 1.2;
                            @media ($sm-1679){
                                font-size: 30px;
                            }
                            @media ($sm-1481){
                                font-size: 25px;
                            }
                            @media ($sm-1281){
                                font-size: 18px;
                            }
                        }
                        br{
                            @media ($sm-991){
                                display: none;
                            }
                        }
                    }
                }

            }
        }
    }
    &.guide-tab {
        .nav-item{
            flex-basis: auto;
        }
        .nav-link{
            &.nav-link{
            padding-left: 0px;
            padding-right: 0px;
            width: auto;
            }
        }
    }
}

.roadmap2-4ccol{
    background-color: #080619;
    .sec-title{
        max-width: 25em;
        margin-left: auto;
        margin-right: auto;

        small{
            font-size: 0.742em;
        }
    }
}

.why-occur{
    background-color: #0C0921;
    .title-col{
        max-width: 47em;
        margin-left: auto;
        margin-right: auto;
    }
}

.df-container.df-container{
    .df-bg{
        background-color: #f5f5f5 !important;
        border: 1px solid #707070;
        border-radius: 20px;
    }
    .df-viewer-container{
        padding: 20px;
    }
    .df-ui{
        opacity: 0;
        &:hover{
            opacity: 1;
        }
    }

}